<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
	class=" qfy-column-4-656af33913258635264 qfy-column-inner  vc_span_class  vc_span3  text-Default small-screen-undefined notfullrow"
	data-dw="1/4" data-fixheight="">
	<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0px;border-radius:0px;;position:relative;padding: 0.5cm;"
		class="column_inner ">
		<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;"></div>
		<div class="column_containter" style="z-index:3;position:relative;">
			<section data-fixheight=""
				class="qfy-row-4-656af339132db272276 section     bothfull  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"
				style="margin-bottom:0;border-radius:0px;color:#000000;">
				<style class="row_class qfy_style_class">
					@media only screen and (min-width: 992px) {
						section.section.qfy-row-4-656af339132db272276 {
							padding-left: 0;
							padding-right: 0;
							padding-top: 0;
							padding-bottom: 0;
							margin-top: 0;
							margin-bottom: 0;
						}
					}

					@media only screen and (max-width: 992px) {
						.bit-html section.section.qfy-row-4-656af339132db272276 {
							padding-left: 15px;
							padding-right: 15px;
							padding-top: 0;
							padding-bottom: 0;
							margin-top: 0;
							margin-bottom: !important;
							min-height: 0;
						}
					}
				</style>


				<div class="section-background-overlay background-overlay grid-overlay-0 "
					style="background-color: transparent;"></div>
				<div class="container">
					<div class="row qfe_row  ">

						<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
							class=" qfy-column-5-656af33913334125525 qfy-column-inner  vc_span12  text-Default small-screen-Default fullrow"
							data-dw="1/1" data-fixheight="">
							<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;border-top:1px solid rgba(229,229,229,1);border-bottom:1px solid rgba(229,229,229,1);border-left:1px solid rgba(229,229,229,1);border-right:1px solid rgba(229,229,229,1);;position:relative;"
								class="column_inner ">
								<div class=" background-overlay grid-overlay-0"
									style="background-color: transparent;width:100%;"></div>
								<div class="column_containter" style="z-index:3;position:relative;">

									<div id="vc_header_656af339133d4424" m-padding="5px 0 12px 9px"
										p-padding="12px 20px 12px 20px" css_animation_delay="0"
										qfyuuid="qfy_header_kyiwa-c-oo" data-anitime="0.7" data-ani_iteration_count="1"
										class="qfy-element minheigh1px qfe_text_column qfe_content_element  mobileHidden"
										style="position: relative; background-color: rgb(245, 245, 245); background-repeat: no-repeat; margin-top: 0px; margin-bottom: 0px; padding: 12px 20px;">
										<style>
											@media only screen and (max-width: 768px) {
												#vc_header_656af339133d4424 .header_title {
													font-size: 24px !important;
												}
											}

											@media only screen and (max-width: 768px) {
												#vc_header_656af339133d4424 .header_subtitle {
													font-size: 12px !important;
												}
											}
										</style>
										<div class="qfe_wrapper">
											<a href="http:////201.t.shophuyi.com/?page_id=38447">
												<h2 class="qfy_title left mobileleft">
													<div class="qfy_title_inner"
														style="display:inline-block;position:relative;max-width:100%;">
														<div class="header_title"
															style="font-size:20px;font-weight:normal;font-style:normal;color:#000000;"
															data-title_from="1">CATEGORY</div>
													</div>
													<style></style>
													<div class="button_wrapper" style="display:none;">
														<div class="button "
															style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
															+ 查看更多</div>
													</div><span style="clear:both;"></span>
												</h2>
											</a>
										</div>
									</div>

									<div style="margin-top: 0px; margin-bottom: 0px; padding: 10px 30px 10px 20px; border-radius: 0px;"
										m-padding="0 0 0 0" p-padding="10px 30px 10px 20px" css_animation_delay="0"
										qfyuuid="product_navigation_gku6b-c-oo"
										class="qfy-product_navigation  qfy-element  ">
										<style>
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-filter-block {
												margin: 10px 0
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-title-filter-block {
												margin-bottom: 13px
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-title-filter-block {
												font-size: 17px;
												line-height: 30px;
												font-weight: normal;
												font-style: normal;
												font-family: Roboto;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] label,
											[qfyuuid='product_navigation_gku6b-c-oo'] select,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-slider-price-amount {
												font-size: 14px;
												line-height: 32px;
												font-weight: normal;
												font-style: normal;
												font-family: Roboto;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-title-filter-block {
												color: #303030
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] label,
											[qfyuuid='product_navigation_gku6b-c-oo'] select,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item label:before,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-slider-price-amount,
											[qfyuuid='product_navigation_gku6b-c-oo'] .ui-slider-tip,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-toggle-view i:before {
												color: #969696
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-filter-item.zootexts {
												border: 1px solid #666666;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.zootexts {
												padding: 5px 8px
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.zootexts {
												border: 1px solid #666666;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.zootexts.selected,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.zootexts:hover {
												border: 1px solid #c00a27;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .selected>label,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.selected>label:before,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item:hover>label,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item:hover>label:before {
												color: #000000
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.zooimages img {
												border: 1px solid #bcbcbc;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-slider-range.ui-widget.ui-widget-content .ui-slider-handle {
												background-color: #ffb700
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-slider-range.ui-widget.ui-widget-content {
												background-color: #e2e2e2
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-slider-range.ui-widget.ui-widget-content .ui-slider-range {
												background-color: #eaeaea
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-flat-slider.ui-slider {
												background-color: #efefef
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-flat-slider .ui-slider-handle:after,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-flat-slider .ui-slider-range,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-flat-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
												background-color: #333333
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter span,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter .zoo-ln-activated-clear-all button.zoo-ln-remove-filter-item.zoo-ln-clear-all {
												color: #333
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter span,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter .zoo-ln-activated-clear-all button.zoo-ln-remove-filter-item.zoo-ln-clear-all {
												font-size: 14px;
												line-height: 14px;
												font-weight: normal;
												font-style: normal;
												font-family: 微软雅黑;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter button.zoo-ln-remove-filter-item,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter button.zoo-ln-remove-filter-item * {
												color: #333333
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter button.zoo-ln-remove-filter-item,
											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter button.zoo-ln-remove-filter-item * {
												font-size: 14px;
												line-height: 14px;
												font-weight: normal;
												font-style: normal;
												font-family: 微软雅黑;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter .zoo-ln-activated-clear-all button.zoo-ln-remove-filter-item.zoo-ln-clear-all {
												color: #333333
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-wrap-activated-filter .zoo-ln-activated-clear-all button.zoo-ln-remove-filter-item.zoo-ln-clear-all {
												font-size: 12px;
												line-height: 12px;
												font-weight: normal;
												font-style: normal;
												font-family: Arial;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.zootexts {
												margin: 2px 10px 2px 0
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-list-filter-item .zoo-filter-item.zooimages {
												margin: 0 10px 10px 0
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .submitFilter {
												border: 1px solid #c00a27
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .submitFilter {
												background: #c00a27
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .submitFilter {
												padding: 8px 24px
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .submitFilter {
												font-size: 13px;
												line-height: 14px;
												font-weight: normal;
												font-style: normal;
												font-family: Arial;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .submitFilter {
												color: #fff
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-filter-item .count {
												background: #f9f9f9
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-filter-item .count {
												color: #333333
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-filter-block select {
												color: #333333;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-filter-block select {
												border-color: #999999;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-filter-block select {
												padding: 5px 10px;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo-ln-btn {
												font-size: 14px;
												line-height: 14px;
												font-weight: normal;
												font-style: normal;
												font-family: 微软雅黑;
												color: #fff;
												border: 1px solid #333;
												background-color: #333;
												padding: 6px 10px;
												width: 300px;
												text-align: center;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] input::-webkit-input-placeholder {
												color: #999;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] input::-moz-placeholder {
												color: #999;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .z_search_inner {
												width: 100%;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] [name='z_search'] {
												font-size: 12px;
												line-height: 12px;
												font-weight: normal;
												font-style: normal;
												font-family: Arial;
												color: #333;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo_ln_searchinput i.fa-search {
												font-size: 14px;
												top: 10px;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo_mobile_btn {
												font-size: 18px;
												line-height: 12px;
												font-weight: normal;
												font-style: normal;
												font-family: Roboto;
												color: #a83c27;
												border: 1px solid #000000;
												background: #000000;
												width: 100%;
												padding: 15px 15px;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo_order {
												font-size: 16px;
												line-height: 12px;
												font-weight: normal;
												font-style: normal;
												font-family: 默认;
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo_order {
												color: #333333
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo_order {
												border: 1px solid #999999
											}

											[qfyuuid='product_navigation_gku6b-c-oo'] .zoo_order {
												padding: 4px 10px
											}
										</style>
										<div class="zoo-layer-nav" id="filter-preset-15">
											<div class="wf-mobile-visible zoo_m_outer"><button class="zoo_mobile_btn"
													onclick="qfy_pop_zooinscript(this)"><i class="fa fa-filter"
														style="margin-right:10px;"></i>Select Goods</button>
												<div style="clear:BOTH"></div>
											</div>
											<form data-showresult="Show results" data-url=""
												data-uuid="products_list_f6uyq-c-oo" id="zoo_ln_form_15"
												class="zoo-ln-filter-form itemname instant_filtering  apply_ajax  wf-mobile-hidden"
												action="" method="post"
												data-ln-config="{&quot;filter_preset&quot;:&quot;itemname&quot;,&quot;jquery_selector_products&quot;:&quot;ul.products&quot;,&quot;jquery_selector_products_count&quot;:&quot;.bitcommerce-result-count&quot;,&quot;jquery_selector_paging&quot;:&quot;.bitcommerce-pagination&quot;,&quot;shop_page_info&quot;:{&quot;url&quot;:&quot;https:\/\/www.dobestmoto.com\/?post_type=product&quot;,&quot;title&quot;:&quot;Shenzhen Boningna Technology Co., Ltd.&quot;}}">
												<div class="zoo-wrap-layer-filter">
													<div id="cln-filter-item-67636919"
														class="zoo_ln_searchinput zoo-filter-block">
														<h4 class="zoo-title-filter-block">Search</h4>
														<div style="position:relative;" class="z_search_inner">
															<input type="text" name="z_s" value=""
																style="display:none;">
															<input type="text" name="z_search" value="" placeholder="">
															<img th:src="@{/image/search.png}" style="margin-right:10px;cursor:pointer;transform: translateY(50%);position:absolute;right:0;top:4px;width: 15px;" />														
														</div>
													</div>
													<div id="cln-filter-item-597639898"
														class="zoo_ln_categories_filter zoo-filter-block zoo-filter-by-categories always-visible  ">
														<h4 class="zoo-title-filter-block">Categories </h4>
														<ul class="zoo-list-filter-item zoo-list-categories">
															<li class="" th:each="categoria : ${categories}">
																<img th:src="@{/image/plus.png}" style="margin-right:10px;cursor:pointer;position:relative;right:0;top:0px;width:15px;" class="plus-image"/>
																<label class="zoo_ln_cat_filter_category_name"><input
																		type="checkbox" class="" th:value="${categoria.codigo}"
																		name="categories[79][]" th:text="${categoria.nombre}"></label><span
																	class="zoo-ln-toggle-view"></span>
																<ul th:id="'subcategoryList_' + ${categoria.codigo}" class="zoo-wrap-child-item" style="display:none" >																	
																</ul>
															</li>															
														</ul>
													</div>
												</div>
												<input type="hidden" name="order" value="">
												<input type="hidden" name="relation" value="AND">
												<input type="hidden" name="filter_list_id" value="79">
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<style class="column_class qfy_style_class">
							@media only screen and (min-width: 992px) {
								.qfy-column-5-656af33913334125525>.column_inner {
									padding-left: 0;
									padding-right: 0;
									padding-top: 0;
									padding-bottom: 0;
								}

								.qfe_row .vc_span_class.qfy-column-5-656af33913334125525 {}

								;
							}

							@media only screen and (max-width: 992px) {
								.qfy-column-5-656af33913334125525>.column_inner {
									margin: 0 auto 0 !important;
									min-height: 0 !important;
									padding-left: 0;
									padding-right: 0;
									padding-top: 0;
									padding-bottom: 0;
								}

								.display_entire .qfe_row .vc_span_class.qfy-column-5-656af33913334125525 {}

								.qfy-column-5-656af33913334125525>.column_inner>.background-overlay,
								.qfy-column-5-656af33913334125525>.column_inner>.background-media {
									width: 100% !important;
									left: 0 !important;
									right: auto !important;
								}
							}
						</style>
					</div>
				</div>

			</section>


			<div id="vc_img_656af339297e8248"
				style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:30px;padding-bottom:10px;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"
				m-padding="30px 0px 10px 0px" p-padding="30px 0 10px 0" css_animation_delay="0"
				qfyuuid="qfy_single_image_nn787-c-oo" data-anitime="0.7" data-ani_iteration_count="1"
				class="qfy-element bitImageControlDiv ">
				<style>
					@media only screen and (max-width: 768px) {
						.single_image_text-656af33929817820 .head {
							font-size: 16px !important;
						}

						.single_image_text-656af33929817820 .content {
							font-size: 16px !important;
						}
					}
				</style><a class="bitImageAhover    mobileHidden">
					<div
						class="bitImageParentDiv qfe_single_image qfe_content_element mobileHidden widthfull vc_align_center">
						<div class="qfe_wrapper"><span></span><img width="800" height="1000"
								src="https://www.dobestmoto.com/qfy-content/uploads/2022/12/65d4c29bce5e7d964d0956dc8bf64728.jpg"
								class="front_image  attachment-widthfull" alt="5641" title="" description=""
								data-title="5641" src-img="" style=""></div>
					</div>
				</a>
			</div><a class="bitImageAhover    mobileHidden"> </a>
		</div>
	</div>
</div>