<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" class="ancient-ie old-ie bit-html" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="ancient-ie old-ie  bit-html" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="old-ie bit-html" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" class="old-ie9 bit-html" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9)  ]><!-->
<html class="bit-html" dir="ltr" lang="en-US">

<!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<!-- Otros elementos del encabezado que desees incluir -->

	<!-- Incluyendo el fragmento meta-header.html -->
	<th:block th:insert="base/metaheader"></th:block>

	<th:block th:insert="base/bootstrap_link"></th:block>

	<th:block th:insert="base/jquery"></th:block>

</head>

<body
	class="home page page-id-35323 page-template-default image-blur widefull_header2 widefull_topbar2 menunopadding mobileleftbtnmenu mobile-autotable btn-flat content-fullwidth huyi-wcbm-theme-the7 qfe-js-composer js-comp-ver-4.0.1 vc_responsive"
	data-pid="35323" data-pkey="47a12067b22db0e88832da4e1893092b">

	<div class="fluid-container">
		<div id="page" class=' topbarPaddingandmarginOff header_bg_mobilehide breackword wide '>

			<th:block th:insert="base/topbar"></th:block>
			<th:block th:insert="base/header"></th:block>
			<th:block th:insert="products/all_products_banner"></th:block>

			<div class="row">
				<div class="col-sm-3">
					<th:block th:insert="products/categories_panel"></th:block>
				</div>
				<div class="col-sm-9">
					<th:block th:insert="products/products_pagination"></th:block>
				</div>
			</div>

			<th:block th:insert="base/footer1"></th:block>
			<th:block th:insert="base/footer2"></th:block>

		</div>
	</div>

	<th:block th:insert="base/bootstrap_scripts"></th:block>

	<script th:inline="javascript">
		$(document).ready(function () {
			// Objeto para almacenar las subcategorías en caché
			var subcategoryCache = {};

			$('.plus-image').click(function () {
				console.log("plus-image clicked");
				var categoryId = $(this).closest('li').find('input[type="checkbox"]').val();
				console.log("categoryId=" + categoryId);
				var catId = '#subcategoryList_' + categoryId;
				console.log("catId=" + catId);
				var subcategoryList = $(catId);
				console.log("subcategoryList=" + subcategoryList);

				if (subcategoryList.is(':visible')) {
					console.log("subcategoryList is visible so hide");
					subcategoryList.css('display', 'none');
				} else {
					console.log("subcategoryList is not visible so show it");

					// Verificar si las subcategorías están en caché
					if (subcategoryCache[categoryId]) {
						console.log("Subcategories found in cache");
						// Utilizar las subcategorías en caché
						updateSubcategories(subcategoryList, subcategoryCache[categoryId]);
					} else {
						console.log("Subcategories not in cache, fetching from server");
						// Descargar subcategorías y almacenarlas en caché
						fetch('/api/products/categories/get_all_by_categoria?codigoCategoria=' + categoryId)
							.then(response => response.json())
							.then(data => {
								// Almacenar subcategorías en caché
								subcategoryCache[categoryId] = data;
								// Actualizar el contenido de la lista subcategoryList con los datos obtenidos
								updateSubcategories(subcategoryList, data);
							})
							.catch(error => {
								console.error("Error al obtener las subcategorías", error);
							});
					}
				}
			});

			// Función para actualizar el contenido de la lista de subcategorías
			function updateSubcategories(subcategoryList, subcategories) {
				// Limpiar la lista existente
				subcategoryList.empty();

				// Agregar las nuevas subcategorías a la lista
				subcategories.forEach(function (subcategory) {
					subcategoryList.append('<li class="zoo-filter-item normal"><label class="zoo_ln_cat_filter_category_name"><input type="checkbox" class="" value="benell-accessories" name="categories[79][]">' + subcategory.nombre + '</label><span class="count">1</span></li>');
				});

				// Mostrar la lista actualizada
				subcategoryList.css('display', '');
			}
		});
	</script>



</body>

</html>