<div class="row qfe_row  ">

	<div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
		class=" qfy-column-3-656b24c90ffa5790939 qfy-column-inner  vc_span12  text-Default small-screen-Default column_middle fullrow"
		data-dw="1/1" data-fixheight="" style="margin-top: 8.5px; margin-bottom: 0px;">
		<div style="max-width:500px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:5px;;position:relative;"
			class="column_inner ">
			<div class=" background-overlay grid-overlay-0"
				style="background-color: #ffffff;width:100%;border-radius:5px;"></div>
			<div class="column_containter" style="z-index:3;position:relative;border-radius:5px;">

				<div id="vc_header_656b24c910061511" m-padding="20px 0px 20px 0px" p-padding="20px 0 20px 0"
					css_animation_delay="0" qfyuuid="qfy_header_ptskg-c-ch" data-anitime="0.7"
					data-ani_iteration_count="1" class="qfy-element minheigh1px qfe_text_column qfe_content_element "
					style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;">
					<style>
						@media only screen and (max-width: 768px) {
							#vc_header_656b24c910061511 .header_title {
								font-size: 16px !important;
							}
						}

						@media only screen and (max-width: 768px) {
							#vc_header_656b24c910061511 .header_subtitle {
								font-size: 12px !important;
							}
						}
					</style>
					<div class="qfe_wrapper">
						<h2 class="qfy_title center mobilecenter">
							<div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;">
								<div class="header_title"
									style="font-size:40px;font-weight:bold;font-style:normal;color:#000;"
									data-title_from="">LOGIN</div>
							</div>
							<style></style>
							<div class="button_wrapper" style="display:none;">
								<div class="button "
									style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
									+ 查看更多</div>
							</div><span style="clear:both;"></span>
						</h2>
					</div>
				</div>

				<div class="qfy-element qfyuser qfyuser-458" data-modal_profile_saved="Your profile has been saved!"
					data-template="login" data-uploads_dir="http://www.dobestmoto.com/qfy-content/uploads/qfyuser/"
					data-default_avatar_male="https://www.dobestmoto.com/qfy-content/plugins/qfyuser/img/default_avatar_male.jpg"
					data-default_avatar_female="https://www.dobestmoto.com/qfy-content/plugins/qfyuser/img/default_avatar_male.jpg"
					data-skin="elegant" data-required_text="This field is required"
					data-password_too_short="Your password is too short"
					data-passwords_do_not_match="Passwords do not match"
					data-password_not_strong="Password is not strong enough" data-keep_one_section_open="0"
					data-allow_sections="1" data-permalink="https://www.dobestmoto.com/?page_id=12378"
					data-field_icons="0" data-profile_thumb_size="80" data-register_heading="Register an Account"
					data-register_side="Already a member?" data-register_side_action="login"
					data-register_button_action="login" data-register_button_primary="Register"
					data-register_button_secondary="Login" data-register_group="default" data-register_redirect="0"
					data-type="0" data-login_heading="Login" data-login_side="Forgot your password?"
					data-login_side_action="reset" data-login_button_action="register" data-login_button_primary="Login"
					data-login_button_secondary="Create an Account" data-login_group="default" data-login_redirect="0"
					data-rememberme="true" data-delete_heading="Delete Profile" data-delete_side="Undo, back to profile"
					data-delete_side_action="view" data-delete_button_action="view"
					data-delete_button_primary="Confirm Deletion" data-delete_button_secondary="Back to Profile"
					data-delete_group="default" data-reset_heading="Reset Password" data-reset_side="Back to Login"
					data-reset_side_action="login" data-reset_button_action="change"
					data-reset_button_primary="Request Secret Key" data-reset_button_secondary="Change your Password"
					data-reset_group="default" data-change_heading="Change your Password"
					data-change_side="Request New Key" data-change_side_action="reset" data-change_button_action="reset"
					data-change_button_primary="Change my Password"
					data-change_button_secondary="Do not have a secret key?" data-change_group="default"
					data-list_heading="Latest Members" data-list_per_page="5" data-list_sortby="registered"
					data-list_order="desc" data-list_users="0" data-list_group="default" data-list_thumb="50"
					data-list_showthumb="1" data-list_showsocial="1" data-list_showbio="0" data-list_verified="0"
					data-list_relation="or" data-online_heading="Who is online now" data-online_thumb="30"
					data-online_showthumb="1" data-online_showsocial="0" data-online_showbio="0" data-online_mini="1"
					data-online_mode="vertical" data-edit_button_primary="Save Changes" data-edit_group="default"
					data-view_group="default" data-social_target="_blank" data-social_group="default"
					data-card_width="250px" data-card_img_width="250" data-card_showbio="1" data-card_showsocial="1"
					data-link_target="_blank" data-error_heading="An error has occured" data-memberlist_table="0"
					data-memberlist_table_columns="user_id,picture,name,country,gender,role,email_user,message_user"
					data-show_on_mobile="picture,name,country,email_user,message_user" data-memberlist_v2="1"
					data-memberlist_v2_pic_size="86" data-memberlist_v2_fields="age,gender,country"
					data-memberlist_v2_bio="1" data-memberlist_v2_showbadges="1" data-memberlist_v2_showname="1"
					data-memberlist_v2_showsocial="1" data-memberlist_pic_size="120" data-memberlist_pic_topspace="15"
					data-memberlist_pic_sidespace="30" data-memberlist_pic_rounded="1" data-memberlist_width="100%"
					data-memberlist_paginate="1" data-memberlist_paginate_top="1" data-memberlist_paginate_bottom="1"
					data-memberlist_show_name="1" data-memberlist_popup_view="0" data-memberlist_withavatar="0"
					data-memberlist_verified="0" data-memberlist_filters="0" data-memberlist_default_search="1"
					data-per_page="12" data-sortby="registered" data-order="desc" data-relation="and" data-search="1"
					data-exclude="0" data-show_social="1" data-registration_closed_side="Existing member? login"
					data-registration_closed_side_action="login" data-facebook_redirect="profile"
					data-logout_redirect="0" data-postsbyuser_num="12" data-postsbyuser_types="post"
					data-postsbyuser_mode="grid" data-postsbyuser_thumb="50" data-postsbyuser_showthumb="1"
					data-postsbyuser_taxonomy="category" data-postsbyuser_category="0"
					data-publish_heading="Add a New Post" data-publish_button_primary="Publish" data-layout="float"
					data-margin_top="0" data-margin_bottom="0" data-align="center" data-max_width="400"
					data-fontcolor="#333" data-bzfontcolor="#888" data-inputbordercolor="#ddd"
					data-inputborderhovercolor="#aaa" data-fonthovercolor="#aaa" data-button1color="#a83c27"
					data-button1bordercolor="#a83c27" data-button1fontcolor="#ffffff" data-button2color="transparent"
					data-button2bordercolor="#dbdbdb" data-button2fontcolor="#000000" data-linebackground="#666"
					data-linefontcolor="#fff" data-line2background="#f5f5f5" data-line2fontcolor="#888"
					data-box_background="2" data-bg_image="0" data-bg_color="0" data-bg_image_repeat="no-repeat"
					data-box_border="2"
					data-box_border_settings="1|^|0|^|#e8e8e8|^|0|^|0|^|#e8e8e8|^|0|^|0|^|#e8e8e8|^|0|^|0|^|#e8e8e8|^|0|^|100|^|100|^|100|^|100"
					data-box_shadow="0" data-box_shadowcolor="#000000" data-box_shadowstyle="0" data-box_shadowsize="1"
					data-z_index="0" data-show_logout_login="2" data-show_groups="0" data-isshowlabel="0"
					data-login_txt0="0" data-login_txt1="0" data-login_txt2="0" data-login_txt3="0" data-login_txt4="0"
					data-custom_template="0" data-d_t="2" data-allfontsize="15" data-xhfontcolor="#ff0000"
					data-jgbgcolor="#d14242" data-jgbordercolor="#d14242" data-jgfontcolor="#fff"
					data-login_txt_r2_display="0" data-login_txt_r3_display="0" data-login_txt_r4_display="0"
					data-login_txt_r5_display="0" data-login_txt_r6="取消会员资格" data-login_txt_r6_display="1"
					data-login_txt_r7_display="0" data-margintop="0" data-marginbottom="0" data-paddingtop="0"
					data-paddingbottom="0" data-paddingleft="10" data-paddingright="10" data-login_animale="0"
					data-display_device="0" data-updateparamtime="1670822080172" data-qfyuuid="qfyuser_8dq87-c-ch"
					data-_left="0" data-_top="0" data-_width="0" data-_height="0" data-__left="0" data-__top="0"
					data-__width="0" data-__height="0" data-_angle="0" data-__angle="0" data-input_shadow="1"
					data-input_padding="0" data-input_btnpadding="2" data-inputbgcolor="#fafafa" data-login_type="0"
					data-inputfontcolor="#3a3a3a" data-password_checking="0">

					<a href="#" class="qfyuser-close-popup">Close</a>

					<div class="qfyuser-head">
						<div class="qfyuser-left">Login</div>
						<div class="qfyuser-right"><a href="#" data-template="reset">Forgot your password?</a></div>
						<div class="qfyuser-clear"></div>
					</div>

					<div class="qfyuser-body">


						<form action="" method="post" class="qfyuser_login" data-action="login">


							<input type="hidden" name="force_redirect_uri-458" id="force_redirect_uri-458" value="">
							<input type="hidden" name="redirect_uri-458" id="redirect_uri-458" value="">

							<input type="hidden" id="_myqfyuser_nonce" name="_myqfyuser_nonce" value="6decd558d3"><input
								type="hidden" name="_qf_http_referer" value="/?page_id=12378"> <input type="hidden"
								name="unique_id" id="unique_id" value="458">


							<div class="qfyuser-field qfyuser-field-username_or_email " data-key="username_or_email">
								<div class="qfyuser-label"><label for="username_or_email-458">Username or email</label>
								</div>
								<div class="qfyuser-input "><input type="text" name="username_or_email-458"
										id="username_or_email-458" value="" placeholder="" data-ajaxcheck=""
										data-help="" data-label="用户名或者邮箱" data-placeholder="" data-_builtin="1"
										data-hidden="0" data-hideable="0" data-html="0" data-locked="0" data-private="0"
										data-required="0" data-type="text" data-woo="0">
									<div class="qfyuser-clear"></div>
								</div>
							</div>
							<div class="qfyuser-clear"></div>

							<div class="qfyuser-field qfyuser-field-user_pass " data-key="user_pass">
								<div class="qfyuser-label"><label for="user_pass-458">Password</label></div>
								<div class="qfyuser-input "><input type="password" class="password" name="user_pass-458"
										id="user_pass-458" value="" placeholder="" data-ajaxcheck="" data-help="密码至少为8位"
										data-label="密码" data-placeholder="" data-_builtin="1" data-hidden="0"
										data-hideable="0" data-html="0" data-locked="0" data-private="0"
										data-required="0" data-type="password" data-woo="0">
									<div class="qfyuser-clear"></div>
								</div>
							</div>
							<div class="qfyuser-clear"></div>



							<div class="qfyuser-column">
								<div class="qfyuser-field qfyuser-field-compact">
									<div class="qfyuser-input">
										<div class="qfyuser-checkbox-wrap">
											<label class="qfyuser-checkbox hide-field" style="text-transform:none">
												<span></span>
												<input type="checkbox" name="rememberme-458" id="rememberme-458"
													value="true">Remember me </label>
										</div>
									</div>
								</div>
							</div>
							<div class="qfyuser-clear"></div>


							<div class="qfyuser-field qfyuser-submit qfyuser-column">


								<input id="login_btn" type="submit" value="Login"
									class="qfyuser-button fullwidth-block">

								<input type="button" id="register_btn" value="Create an Account"
									class="qfyuser-button secondary fullwidth-block" data-template="register">


								<img src="/qfy-content/plugins/qfyuser/skins/elegant/img/loading.gif" alt=""
									class="qfyuser-loading">
								<a id="forget_pass" class="qfyuser-qfy-action" href="#" style="float:right;"
									data-template="reset">Forgot your password?</a>
								<div class="qfyuser-clear"></div>
							</div>

						</form>
					</div>

				</div>

				<div class="shophuyi qfyuser-label"
					style="display: block;text-align: center;float:none;width:100%;margin-top:30px;"><a target="_blank"
						href="https://www.shopali.net"><label style="text-align:center;width:100%;">Support By
							ShopAli</label></a></div>

				<style type="text/css">
					div.qfyuser-awsm-pic {



						margin-left: -48px;
						top: -48px;
					}

					div.qfyuser-awsm-pic img {
						width: 86px;
						height: 86px;
					}

					div.qfyuser,
					div.emd-main,
					div.emd-filters,
					div.qfyuser-search-results,
					div.qfyuser-label label,
					div.qfyuser input,
					div.qfyuser textarea,
					div.qfyuser select,
					div.qfyuser-field textarea.qfyuser_editor,
					div.qfyuser-msg-overlay-content,
					div.qfyuser-msg-overlay-content input,
					div.qfyuser-msg-overlay-content textarea,
					div.qfyuser-notifier {
						font-family: Roboto;
					}


					div.qfyuser-458 {
						max-width: 400px;
						width: 100%;
						margin-left: auto;
						margin-right: auto;
					}



					div.qfyuser-458.qfyuser-nostyle {
						max-width: 250px;
					}

					div.qfyuser-458.qfyuser-users {
						max-width: 100% !important;
					}

					div.qfyuser-458 div.qfyuser-user {
						margin-top: 15px;
						margin-left: 30px;
						margin-right: 30px;
					}

					div.qfyuser-458 div.qfyuser-user a.qfyuser-user-img {
						width: 120px;
						height: 120px;
					}

					div.qfyuser-458 div.qfyuser-user a.qfyuser-user-img span {
						top: -120px;
						line-height: 120px;
					}

					div.qfyuser-458 div.qfyuser-user div.qfyuser-user-link {
						width: 120px;
					}

					div.qfyuser-458 div.qfyuser-user a.qfyuser-user-img,
					div.qfyuser-458 div.qfyuser-user a.qfyuser-user-img span {
						border-radius: 999px !important;
					}

					div.qfyuser-458 div.qfyuser-list-item-i {
						width: 50px;
						height: 50px;
					}


					div.qfyuser-458 div.qfyuser-online-item-i {
						width: 30px;
						height: 30px;
					}

					div.qfyuser-458 div.qfyuser-online-item {
						border-bottom: 0px !important;
						padding: 10px 0 0 0;
					}

					div.qfyuser-458 div.qfyuser-online-item img.qfyuser-profile-badge,
					div.qfyuser-458 div.qfyuser-online-item img.qfyuser-profile-badge-right {
						max-width: 14px !important;
						max-height: 14px !important;
					}

					div.qfyuser-458 div.qfyuser-profile-img {
						width: 80px;
						height: 80px;
					}

					div.emd-user {
						width: !important;
						margin-left: !important;
					}



					div.qfyuser-458 div.qfyuser-label label,
					.shophuyi.qfyuser-label label,
					div.qfyuser-458 .qfyuser-qfy-action,
					div.qfyuser-458 div.qfyuser-profile-name a {
						color: #333 !important;
					}

					div.qfyuser-458 div.qfyuser-input label.qfyuser-checkbox.hide-field,
					div.qfyuser-458 .open_social_box span,
					div.qfyuser-458 .open_social_box .login_button,
					div.qfyuser-458 .qfyuser-checkbox-wrap,
					div.qfyuser-458 div.qfyuser-input label.qfyuser-radio,
					div.qfyuser-458 div.qfyuser-input label.qfyuser-checkbox,
					div.qfyuser-458.qfyuser .qfyuser-pic-upload,
					div.qfyuser-458 .qfyuser-qfy-bz-action,
					div.qfyuser-458 .qfyuser-pic-none,
					div.qfyuser-458 div.qfyuser-maxwidth div.qfyuser-input label,
					div.qfyuser-458 .strength-text {
						color: #888 !important;
					}

					div.qfyuser-458 div.qfyuser-input input[type="text"],
					div.qfyuser-458 div.qfyuser-input input[type="password"],
					div.qfyuser-458 div.qfyuser-input select,
					div.qfyuser-458 .chosen-container-single .chosen-single,
					div.qfyuser-458 div.qfyuser-input textarea,
					div.qfyuser-458 .qfyuser-checkbox>span,
					div.qfyuser-458 img.qfyuser-img {
						border: 1px solid #ddd !important;
						color: #3a3a3a !important;
					}

					div.qfyuser-458 div.qfyuser-input input[type="text"],
					div.qfyuser-458 div.qfyuser-input input[type="password"],
					div.qfyuser-458 div.qfyuser-input select,
					div.qfyuser-458 div.qfyuser-input textarea,
					div.qfyuser-458 .qfyuser-checkbox>span {
						background-color: #fafafa !important;
					}

					div.qfyuser-458 div.qfyuser-input input[type="text"]:focus,
					div.qfyuser-458 div.qfyuser-input input[type="password"]:focus,
					div.qfyuser-458 div.qfyuser-input textarea:focus {
						border: 1px solid #aaa !important;
						color: #aaa !important;
					}

					div.qfyuser-458 input.qfyuser-button,
					div.qfyuser-458 a.qfyuser-button {
						background: #a83c27 !important;
						border: 1px solid #a83c27 !important;
						color: #ffffff !important;
						box-shadow: inset 0 1px #a83c27 !important;
					}

					div.qfyuser-458 input.qfyuser-button.secondary,
					div.qfyuser-458 a.qfyuser-button.secondary,
					div.qfyuser-458 div.qfyuser div.ajax-file-upload {
						background: transparent !important;
						border: 1px solid #dbdbdb !important;
						color: #000000 !important;
						box-shadow: inset 0 1px transparent !important;
					}

					div.qfyuser-458 div.qfyuser-section.qfyuser-collapsed-0 {
						background: #666;
						border: none;
						color: #fff !important;
						text-shadow: none;
					}

					div.qfyuser-458 div.qfyuser-section.qfyuser-collapsed-1 {
						background: #f5f5f5;
						border: none;
						color: #888 !important;
						text-shadow: none;
					}

					div.qfyuser-458 .required {
						color: #ff0000;
					}

					div.qfyuser-458 div.qfyuser-warning {
						background: #d14242 !important;
					}

					div.qfyuser-458 div.qfyuser-warning {
						border-color: #d14242 !important;
					}

					div.qfyuser-458 div.qfyuser-warning {
						color: #fff !important;
					}

					div.qfyuser-458 div.qfyuser-input input[type="text"],
					div.qfyuser-458 div.qfyuser-input input[type="password"],
					div.qfyuser-458 div.qfyuser-input textarea div.qfyuser-458 div.qfyuser-input input[type="text"]:focus,
					div.qfyuser-458 div.qfyuser-input input[type="password"]:focus,
					div.qfyuser-458 div.qfyuser-input textarea:focus {
						box-shadow: none !important;
					}

					div.qfyuser-458 .qfyuser-field div.qfyuser-input input[type="text"],
					div.qfyuser-458 .qfyuser-field div.qfyuser-input input[type="password"],
					div.qfyuser-458 .text_wrap .input-after-button {
						padding-top: 0px !important;
						>;
						padding-bottom: 0px !important;
						>;
						height: auto !important;
					}

					div.qfyuser-458 div.qfyuser-input img.qfyuser-img {
						height: 100% !important;
					}

					div.qfyuser-458 div.qfyuser-submit input.qfyuser-button[type="submit"],
					div.qfyuser-458 div.qfyuser-submit input.qfyuser-button.secondary {
						padding: 2px !important;
						height: auto !important;
					}

					div.qfyuser-458 .qfyuser-input.fa:before {
						left: 10px;
						position: absolute;


						top: 9.5px;
					}

					div.qfyuser-458 .qfyuser-input.fa.fa-envelope-o:before {
						left: 8px;
						position: absolute;
					}

					div.qfyuser-458 .qfyuser-field div.qfyuser-input.fa input {
						padding-left: 31px !important;
					}

					div.qfyuser-458 div.qfyuser-label label,
					div.qfyuser-458,
					div.qfyuser-458 div.qfyuser-input label.qfyuser-checkbox.hide-field,
					div.qfyuser-458 div.qfyuser input,
					div.qfyuser-458 div.qfyuser textarea,
					div.qfyuser-458 div.qfyuser select {
						font-size: 15px !important;
					}

					div.qfyuser-458 div.qfyuser-input input[type="text"],
					div.qfyuser-458 div.qfyuser-input input[type="password"],
					div.qfyuser-458 div.qfyuser-input textarea,
					div.qfyuser-458 div.qfyuser-input select,
					div.qfyuser-458 div.qfyuser-submit input,
					div.qfyuser-458 div.qfyuser-section,
					div.qfyuser-458 div.qfyuser-input label.qfyuser-radio,
					div.qfyuser-458 div.qfyuser-input label.qfyuser-checkbox,
					div.qfyuser-458 input.input-after-button {
						font-size: 16px !important;
					}

					div.qfyuser-458 div.qfyuser-input input[type="text"],
					div.qfyuser-458 div.qfyuser-input input[type="password"],
					div.qfyuser-458 div.qfyuser-submit input,
					div.qfyuser-458 .qfyuser-qfy-action,
					div.qfyuser-458 input.input-after-button,
					div.qfyuser-458 .qfyuser-input img.qfyuser-img {
						height: 32px !important;
						line-height: 32px !important;
					}

					div.qfyuser-458 div.qfyuser-profile-img img {
						background: transparent !important;
					}

					div.qfyuser-458 {
						background: transparent;
						margin-top: 0;
						margin-bottom: 0;
						border-color: transparent;
					}

					div.qfyuser-458 {
						padding-top: 0;
						padding-bottom: 0;
						padding-right: 10px;
						padding-left: 10px;
					}

					@media screen and (max-width: 768px) {
						.bit-html div.qfyuser-458 {
							padding: 0px 0px 0px 0px;
						}
					}
				</style>

			</div>
		</div>
	</div>
	<style class="column_class qfy_style_class">
		@media only screen and (min-width: 992px) {
			.qfy-column-3-656b24c90ffa5790939>.column_inner {
				margin: 0 auto 0 !important;
				padding-left: 0;
				padding-right: 0;
				padding-top: 40px;
				padding-bottom: 70px;
			}

			.qfe_row .vc_span_class.qfy-column-3-656b24c90ffa5790939 {}

			;
		}

		@media only screen and (max-width: 992px) {
			.qfy-column-3-656b24c90ffa5790939>.column_inner {
				margin: 0 auto 0 !important;
				min-height: 0 !important;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 50px;
				padding-bottom: 70px;
			}

			.display_entire .qfe_row .vc_span_class.qfy-column-3-656b24c90ffa5790939 {}

			.qfy-column-3-656b24c90ffa5790939>.column_inner>.background-overlay,
			.qfy-column-3-656b24c90ffa5790939>.column_inner>.background-media {
				width: 100% !important;
				left: 0 !important;
				right: auto !important;
			}
		}
	</style>
</div>