<section data-fixheight="" class="qfy-row-16-65693d8b2f90061052 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi" id="bit_e6n7f" style="margin-bottom:0;border-radius:0px;color:#303030;">
    <style class="row_class qfy_style_class">        
            </style>
        

            <div class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #000000;"></div>
        <div class="container">
        <div class="row qfe_row  ">
            
<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-33-65693d8b2f93f217827 qfy-column-inner  vc_span12  text-default small-screen-undefined fullrow" data-dw="1/1" data-fixheight=""><div style=";position:relative;" class="column_inner "><div class=" background-overlay grid-overlay-" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;">

	<div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_column_text_delcu" data-anitime="0.7" data-ani_iteration_count="1" class="qfy-element qfy-text qfy-text-32904 qfe_text_column qfe_content_element  mobile_fontsize " style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
		<div class="qfe_wrapper">
			<div style="text-align: center;"><span style="color: rgb(136, 136, 136);">Copyright &nbsp;© 2023 &nbsp;<a href="https://www.dobestmoto.com/">dobestmoto.com</a>&nbsp; All Rights Reserved.</span>
</div>
		</div> 
	</div> 
</div></div></div><style class="column_class qfy_style_class">@media only screen and (min-width: 992px){.qfy-column-33-65693d8b2f93f217827 > .column_inner {padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}.qfe_row .vc_span_class.qfy-column-33-65693d8b2f93f217827 {};}@media only screen and (max-width: 992px){.qfy-column-33-65693d8b2f93f217827 > .column_inner{margin:0 auto 0 !important;padding-left:0;padding-right:0;padding-top:;padding-bottom:;}.display_entire .qfe_row .vc_span_class.qfy-column-33-65693d8b2f93f217827 {}.qfy-column-33-65693d8b2f93f217827 > .column_inner> .background-overlay,.qfy-column-33-65693d8b2f93f217827 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style>
        </div>
    </div>

</section>