<section data-fixheight=""
	class="qfy-row-5-65691195ab095356692 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"
	id="bit_o6b5g" style="margin-bottom:0;border-radius:0px;color:#3e3e3e;z-index:1;">
	<style class="row_class qfy_style_class">
		@media only screen and (min-width: 992px) {
			section.section.qfy-row-5-65691195ab095356692 {
				padding-left: 0;
				padding-right: 0;
				padding-top: 100px;
				padding-bottom: 100px;
				margin-top: 0;
				margin-bottom: 0;
			}

			section.section.qfy-row-5-65691195ab095356692>.container {
				max-width: 1280px;
				margin: 0 auto;
			}
		}

		@media only screen and (max-width: 992px) {
			.bit-html section.section.qfy-row-5-65691195ab095356692 {
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 20px;
				padding-bottom: 20px;
				margin-top: 0;
				margin-bottom: !important;
				min-height: 0;
			}
		}
	</style>


	<div class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: #1b1b1c;"></div>
	<div class="container">
		<div class="row qfe_row  ">

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-7-65691195ab156985357 qfy-column-inner  vc_span_class  vc_span2_4  text-Default small-screen-undefined notfullrow"
				data-dw="1/5" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner mouseHover">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_65691195ab1f9403" m-padding="0px 0px 20px 0px" p-padding="0 0 20px 0"
							css_animation_delay="0" qfyuuid="qfy_header_3bz6h-c-sn" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element "
							style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:20px;padding-right:0;padding-left:0;">
							<style>
								#vc_header_65691195ab1f9403:hover .line-abs,
								.mouseHover.hover #vc_header_65691195ab1f9403 .line-abs {
									width: 20px !important;
									transition: all ease .6s;
								}

								#vc_header_65691195ab1f9403 .line-abs {
									transition: all ease .6s !important;
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195ab1f9403 .header_title {
										font-size: 20px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195ab1f9403 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<div class="qfy_title left mobileleft">
									<div class="qfy_title_inner"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="header_title"
											style="font-family:Roboto;font-size:18px;font-weight:normal;font-style:normal;color:#ffffff;"
											data-title_from="1">Contact Us</div><span class="line-abs bottom hleft"
											style="overflow:hidden;border-bottom-style:solid;width:71px;max-width:71px;border-bottom-width:1px;border-bottom-color:#ffffff;margin-top:4px;margin-left:0"></span>
									</div>
									<style></style>
									<div class="button_wrapper" style="display:none;">
										<div class="button "
											style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
											+ View more</div>
									</div><span style="clear:both;"></span>
								</div>
							</div>
						</div>


						<div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_8qmo8-c-sn" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-25242 qfe_text_column qfe_content_element  "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
							<div class="qfe_wrapper">
								<div style="line-height: 26px;"><span
										style="font-size: 13px; color: rgb(204, 204, 204);"><span
											style="font-size: 13px; color: rgb(204, 204, 204);">Whatsapp:&nbsp;</span></span>
								</div>
								<div style="line-height: 26px;"> <span
										style="font-size: 13px; color: rgb(204, 204, 204);">Email:
										lp2_parts@dobestmoto.com
									</span></div>
								<div style="line-height: 26px;"><span
										style="font-size: 13px; color: rgb(204, 204, 204);">Address: MAYLERESCAPE
										LIMITED UNIT# 2052 275 NEW NORTH ROAD LONDON UNITED KINGDOM N1 7AA</span><span
										style="color: rgb(154, 152, 170); font-size: 13px;"><br></span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-7-65691195ab156985357>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-7-65691195ab156985357 {
						width: 28.083333333333332%;
					}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-7-65691195ab156985357>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-7-65691195ab156985357 {
						width: 28.083333333333332%;
					}

					.qfy-column-7-65691195ab156985357>.column_inner>.background-overlay,
					.qfy-column-7-65691195ab156985357>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-8-65691195ab38b497030 qfy-column-inner  vc_span_class  vc_span2_4  text-Default small-screen-undefined notfullrow"
				data-dw="1/5" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner mouseHover">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_65691195ab427440" m-padding="0px 0px 20px 0px" p-padding="0 0 20px 0"
							css_animation_delay="0" qfyuuid="qfy_header_3bz6h-c-1s" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element "
							style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:20px;padding-right:0;padding-left:0;">
							<style>
								#vc_header_65691195ab427440:hover .line-abs,
								.mouseHover.hover #vc_header_65691195ab427440 .line-abs {
									width: 20px !important;
									transition: all ease .6s;
								}

								#vc_header_65691195ab427440 .line-abs {
									transition: all ease .6s !important;
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195ab427440 .header_title {
										font-size: 20px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195ab427440 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<div class="qfy_title left mobileleft">
									<div class="qfy_title_inner"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="header_title"
											style="font-family:Roboto;font-size:18px;font-weight:normal;font-style:normal;color:#ffffff;"
											data-title_from="1">Service Support</div><span class="line-abs bottom hleft"
											style="overflow:hidden;border-bottom-style:solid;width:71px;max-width:71px;border-bottom-width:1px;border-bottom-color:#ffffff;margin-top:4px;margin-left:0"></span>
									</div>
									<style></style>
									<div class="button_wrapper" style="display:none;">
										<div class="button "
											style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
											+ View more</div>
									</div><span style="clear:both;"></span>
								</div>
							</div>
						</div>

						<div id="list_menu_vertical_hoo82" data-child=""
							style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="list_menu_vertical_hoo82" class="qfy-listmenuvertical  qfy-element  ">
							<div class="list-content wf-mobile-hidden">
								<div class="list-content-inner" style="max-width:200px;margin-top:0px;">
									<div class="bitWidgetFrame">
										<ul id="menu-services" class="menu">
											<li id="menu-item-137359"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137348 menu-item-137359">
												<a href="https://www.dobestmoto.com/?page_id=137348"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Privacy Policy</span></a></li>
											<li id="menu-item-137362"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137325 menu-item-137362">
												<a href="https://www.dobestmoto.com/?page_id=137325"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Terms of service</span></a></li>
											<li id="menu-item-137361"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137336 menu-item-137361">
												<a href="https://www.dobestmoto.com/?page_id=137336"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Customs &amp; Import tax</span></a></li>
											<li id="menu-item-137360"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137345 menu-item-137360">
												<a href="https://www.dobestmoto.com/?page_id=137345"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Returns Processing Time</span></a></li>
											<li id="menu-item-137358"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137351 menu-item-137358">
												<a href="https://www.dobestmoto.com/?page_id=137351"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Shipping Method Explanation</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dl-menuwrapper   wf-mobile-visible  dropCenterStyle_containter center dl-qfymobile-menu  loaded"
								id="dl-menu"><a class="dropCenterStyle center " id="mobile-menu" rel="nofollow"
									data-right="-1" data-top="0" data-padding="" href="#show-menu">
									<span class="menu-open  phone-text">Menu</span>

									<span class="mobile_icon glyphicon glyphicon-icon-angle-down"></span></a><span
									class="menu-open" style="display:none">Menu</span>
								<span class="menu-close" style="display:none">Close</span><span class="menu-back "
									style="display:none">Back</span>
								<div class="dl-container">
									<ul class="dl-menu" style="min-height:500px">
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137348 menu-item-137359 first">
											<a href="https://www.dobestmoto.com/?page_id=137348"><span>Privacy
													Policy</span></a></li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137325 menu-item-137362">
											<a href="https://www.dobestmoto.com/?page_id=137325"><span>Terms of
													service</span></a></li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137336 menu-item-137361">
											<a href="https://www.dobestmoto.com/?page_id=137336"><span>Customs &amp;
													Import tax</span></a></li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137345 menu-item-137360">
											<a href="https://www.dobestmoto.com/?page_id=137345"><span>Returns
													Processing Time</span></a></li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-137351 menu-item-137358">
											<a href="https://www.dobestmoto.com/?page_id=137351"><span>Shipping Method
													Explanation</span></a></li>
									</ul>
								</div>
							</div>
							<style>
								#list_menu_vertical_hoo82 #mobile-menu {
									background: #ffffff;
									border: 1px solid #eeeeee;
									color: #666666;
								}

								#list_menu_vertical_hoo82 #mobile-menu:hover {
									background: #ffffff;
									border: 1px solid #eeeeee;
									color: #000000;
								}

								#list_menu_vertical_hoo82 .dl-menuwrapper li {
									background: #ffffff;
									border-bottom: 1px solid #f0f0f0;
									color: #666666;
								}

								#list_menu_vertical_hoo82 .dl-menuwrapper li:first-child {
									border-top: 1px solid #f0f0f0;
								}

								#list_menu_vertical_hoo82 .dl-menuwrapper li:hover {
									background: #ffffff;
									border-bottom: 1px solid #f0f0f0;
									color: #000000;
								}

								#list_menu_vertical_hoo82 .dropCenterStyle_containter.dl-menuwrapper li>a {
									color: #666666 !important;
									text-align: center;
									padding: 10px 2px
								}

								#list_menu_vertical_hoo82 .dropCenterStyle_containter.dl-menuwrapper #mobile-menu {
									text-align: center;
									padding:
								}

								#list_menu_vertical_hoo82 .dropCenterStyle_containter.dl-menuwrapper li a span {
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
									max-width: 100%;
									font-size: 13px;
									font-weight: normal;
									font-style: normal;
									font-family: Roboto;
									;
									color: #666666 !important;
								}

								#list_menu_vertical_hoo82 #mobile-menu span {}

								#list_menu_vertical_hoo82 .dropCenterStyle_containter.dl-menuwrapper li>a:hover span {
									color: #000000 !important;
								}

								#list_menu_vertical_hoo82 .dl-menuwrapper li.has-children>a::after {
									background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23666666%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
								}

								#list_menu_vertical_hoo82 .dl-menuwrapper li.has-children:hover>a::after {
									background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23000000%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
								}

								@media only screen and (min-width: 768px) {
									body #list_menu_vertical_hoo82 #mobile-menu span {
										font-size: 13px !important;
										font-weight: normal !important;
										font-style: normal !important;
										font-family: Roboto !important;
									}

									body #list_menu_vertical_hoo82 #dl-menu .dl-menuopen {
										position: relative;
									}
								}

								#list_menu_vertical_hoo82 .list-content-inner ul.menu li a {
									color: #c9c9c9 !important;
									text-decoration: none !important;
								}

								#list_menu_vertical_hoo82 .list-content-inner ul.menu li.current-menu-item>a>span,
								#list_menu_vertical_hoo82 .list-content-inner ul.menu li a:hover>span,
								#list_menu_vertical_hoo82 .list-content-inner ul.menu li.current-menu-ancestor>a>span {
									color: #ffffff !important;
									text-decoration: none !important;
								}

								#list_menu_vertical_hoo82 .list-content-inner ul.sub-menu li>a>span {
									font-size: 13px !important;
									font-weight: normal !important;
									font-style: normal !important;
									font-family: Roboto !important;
								}

								#list_menu_vertical_hoo82 .list-content-inner ul.menu li {
									padding-top: 0px;
									overflow: hidden;
								}
							</style>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-8-65691195ab38b497030>.column_inner {
						padding-left: 80px;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-8-65691195ab38b497030 {
						width: 24.8%;
					}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-8-65691195ab38b497030>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-8-65691195ab38b497030 {
						width: 24.8%;
					}

					.qfy-column-8-65691195ab38b497030>.column_inner>.background-overlay,
					.qfy-column-8-65691195ab38b497030>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-9-65691195adccd679657 qfy-column-inner  vc_span_class  vc_span2_4  text-Default small-screen-undefined notfullrow"
				data-dw="1/5" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner mouseHover">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_65691195addcb677" m-padding="0px 0px 20px 0px" p-padding="0 0 20px 0"
							css_animation_delay="0" qfyuuid="qfy_header_3bz6h-c-7g" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element "
							style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:20px;padding-right:0;padding-left:0;">
							<style>
								#vc_header_65691195addcb677:hover .line-abs,
								.mouseHover.hover #vc_header_65691195addcb677 .line-abs {
									width: 20px !important;
									transition: all ease .6s;
								}

								#vc_header_65691195addcb677 .line-abs {
									transition: all ease .6s !important;
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195addcb677 .header_title {
										font-size: 20px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195addcb677 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<div class="qfy_title left mobileleft">
									<div class="qfy_title_inner"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="header_title"
											style="font-family:Roboto;font-size:18px;font-weight:normal;font-style:normal;color:#ffffff;"
											data-title_from="1">Quick Links</div><span class="line-abs bottom hleft"
											style="overflow:hidden;border-bottom-style:solid;width:71px;max-width:71px;border-bottom-width:1px;border-bottom-color:#ffffff;margin-top:4px;margin-left:0"></span>
									</div>
									<style></style>
									<div class="button_wrapper" style="display:none;">
										<div class="button "
											style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
											+ View more</div>
									</div><span style="clear:both;"></span>
								</div>
							</div>
						</div>

						<div id="list_menu_vertical_hoo82-c-ps" data-child=""
							style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="list_menu_vertical_hoo82-c-ps" class="qfy-listmenuvertical  qfy-element  ">
							<div class="list-content wf-mobile-hidden">
								<div class="list-content-inner" style="max-width:200px;margin-top:0px;">
									<div class="bitWidgetFrame">
										<ul id="menu-link" class="menu">
											<li id="menu-item-137372"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-35323 menu-item-137372">
												<a href="https://www.dobestmoto.com/"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Home</span></a></li>
											<li id="menu-item-137368"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-55914 menu-item-137368">
												<a href="https://www.dobestmoto.com/?page_id=55914"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>About</span></a></li>
											<li id="menu-item-137370"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-56434 menu-item-137370">
												<a href="https://www.dobestmoto.com/?page_id=56434"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Blog</span></a></li>
											<li id="menu-item-137373"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-56308 menu-item-137373">
												<a href="https://www.dobestmoto.com/?page_id=56308"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Contact</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dl-menuwrapper   wf-mobile-visible  dropCenterStyle_containter center dl-qfymobile-menu  loaded"
								id="dl-menu"><a class="dropCenterStyle center " id="mobile-menu" rel="nofollow"
									data-right="-1" data-top="0" data-padding="" href="#show-menu">
									<span class="menu-open  phone-text">Menu</span>

									<span class="mobile_icon glyphicon glyphicon-icon-angle-down"></span></a><span
									class="menu-open" style="display:none">Menu</span>
								<span class="menu-close" style="display:none">Close</span><span class="menu-back "
									style="display:none">Back</span>
								<div class="dl-container">
									<ul class="dl-menu" style="min-height:500px">
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-35323 menu-item-137372 first">
											<a href="https://www.dobestmoto.com/"><span>Home</span></a></li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-55914 menu-item-137368">
											<a href="https://www.dobestmoto.com/?page_id=55914"><span>About</span></a>
										</li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-56434 menu-item-137370">
											<a href="https://www.dobestmoto.com/?page_id=56434"><span>Blog</span></a>
										</li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-56308 menu-item-137373">
											<a href="https://www.dobestmoto.com/?page_id=56308"><span>Contact</span></a>
										</li>
									</ul>
								</div>
							</div>
							<style>
								#list_menu_vertical_hoo82-c-ps #mobile-menu {
									background: #ffffff;
									border: 1px solid #eeeeee;
									color: #666666;
								}

								#list_menu_vertical_hoo82-c-ps #mobile-menu:hover {
									background: #ffffff;
									border: 1px solid #eeeeee;
									color: #000000;
								}

								#list_menu_vertical_hoo82-c-ps .dl-menuwrapper li {
									background: #ffffff;
									border-bottom: 1px solid #f0f0f0;
									color: #666666;
								}

								#list_menu_vertical_hoo82-c-ps .dl-menuwrapper li:first-child {
									border-top: 1px solid #f0f0f0;
								}

								#list_menu_vertical_hoo82-c-ps .dl-menuwrapper li:hover {
									background: #ffffff;
									border-bottom: 1px solid #f0f0f0;
									color: #000000;
								}

								#list_menu_vertical_hoo82-c-ps .dropCenterStyle_containter.dl-menuwrapper li>a {
									color: #666666 !important;
									text-align: center;
									padding: 10px 2px
								}

								#list_menu_vertical_hoo82-c-ps .dropCenterStyle_containter.dl-menuwrapper #mobile-menu {
									text-align: center;
									padding:
								}

								#list_menu_vertical_hoo82-c-ps .dropCenterStyle_containter.dl-menuwrapper li a span {
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
									max-width: 100%;
									font-size: 13px;
									font-weight: normal;
									font-style: normal;
									font-family: Roboto;
									;
									color: #666666 !important;
								}

								#list_menu_vertical_hoo82-c-ps #mobile-menu span {}

								#list_menu_vertical_hoo82-c-ps .dropCenterStyle_containter.dl-menuwrapper li>a:hover span {
									color: #000000 !important;
								}

								#list_menu_vertical_hoo82-c-ps .dl-menuwrapper li.has-children>a::after {
									background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23666666%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
								}

								#list_menu_vertical_hoo82-c-ps .dl-menuwrapper li.has-children:hover>a::after {
									background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23000000%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
								}

								@media only screen and (min-width: 768px) {
									body #list_menu_vertical_hoo82-c-ps #mobile-menu span {
										font-size: 13px !important;
										font-weight: normal !important;
										font-style: normal !important;
										font-family: Roboto !important;
									}

									body #list_menu_vertical_hoo82-c-ps #dl-menu .dl-menuopen {
										position: relative;
									}
								}

								#list_menu_vertical_hoo82-c-ps .list-content-inner ul.menu li a {
									color: #c9c9c9 !important;
									text-decoration: none !important;
								}

								#list_menu_vertical_hoo82-c-ps .list-content-inner ul.menu li.current-menu-item>a>span,
								#list_menu_vertical_hoo82-c-ps .list-content-inner ul.menu li a:hover>span,
								#list_menu_vertical_hoo82-c-ps .list-content-inner ul.menu li.current-menu-ancestor>a>span {
									color: #ffffff !important;
									text-decoration: none !important;
								}

								#list_menu_vertical_hoo82-c-ps .list-content-inner ul.sub-menu li>a>span {
									font-size: 13px !important;
									font-weight: normal !important;
									font-style: normal !important;
									font-family: Roboto !important;
								}

								#list_menu_vertical_hoo82-c-ps .list-content-inner ul.menu li {
									padding-top: 0px;
									overflow: hidden;
								}
							</style>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-9-65691195adccd679657>.column_inner {
						padding-left: 30px;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-9-65691195adccd679657 {
						width: 13.7%;
					}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-9-65691195adccd679657>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-9-65691195adccd679657 {
						width: 13.7%;
					}

					.qfy-column-9-65691195adccd679657>.column_inner>.background-overlay,
					.qfy-column-9-65691195adccd679657>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-10-65691195b08fd676404 qfy-column-inner  vc_span_class  vc_span2_4  text-Default small-screen-Default notfullrow"
				data-dw="1/5" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_65691195b09e2151" m-padding="0px 0px 20px 0px" p-padding="0 0 20px 0"
							css_animation_delay="0" qfyuuid="qfy_header_3bz6h-c-mg" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element "
							style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:20px;padding-right:0;padding-left:0;">
							<style>
								#vc_header_65691195b09e2151:hover .line-abs,
								.mouseHover.hover #vc_header_65691195b09e2151 .line-abs {
									width: 20px !important;
									transition: all ease .6s;
								}

								#vc_header_65691195b09e2151 .line-abs {
									transition: all ease .6s !important;
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195b09e2151 .header_title {
										font-size: 20px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65691195b09e2151 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<div class="qfy_title left mobileleft">
									<div class="qfy_title_inner"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="header_title"
											style="font-family:Roboto;font-size:18px;font-weight:normal;font-style:normal;color:#ffffff;"
											data-title_from="1">My Account</div><span class="line-abs bottom hleft"
											style="overflow:hidden;border-bottom-style:solid;width:71px;max-width:71px;border-bottom-width:1px;border-bottom-color:#ffffff;margin-top:4px;margin-left:0"></span>
									</div>
									<style></style>
									<div class="button_wrapper" style="display:none;">
										<div class="button "
											style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
											+ View more</div>
									</div><span style="clear:both;"></span>
								</div>
							</div>
						</div>

						<div id="list_menu_vertical_hoo82-c-8u" data-child=""
							style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="list_menu_vertical_hoo82-c-8u" class="qfy-listmenuvertical  qfy-element  ">
							<div class="list-content wf-mobile-hidden">
								<div class="list-content-inner" style="max-width:200px;margin-top:0px;">
									<div class="bitWidgetFrame">
										<ul id="menu-account" class="menu">
											<li id="menu-item-137388"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-12378 menu-item-137388">
												<a href="https://www.dobestmoto.com/?page_id=12378"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Login</span></a></li>
											<li id="menu-item-137390"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-12377 menu-item-137390">
												<a href="https://www.dobestmoto.com/?page_id=12377"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Register</span></a></li>
											<li id="menu-item-137387"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-59027 menu-item-137387">
												<a href="https://www.dobestmoto.com/?page_id=59027"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>Cart</span></a></li>
											<li id="menu-item-137389"
												class="menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-59029 menu-item-137389">
												<a href="https://www.dobestmoto.com/?page_id=59029"><span
														style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;font-size:13px ;font-weight:normal ;font-style:normal ;font-family:Roboto ;"><i
															class=""></i>My Order</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dl-menuwrapper   wf-mobile-visible  dropCenterStyle_containter center dl-qfymobile-menu  loaded"
								id="dl-menu"><a class="dropCenterStyle center " id="mobile-menu" rel="nofollow"
									data-right="-1" data-top="0" data-padding="" href="#show-menu">
									<span class="menu-open  phone-text">Menu</span>

									<span class="mobile_icon glyphicon glyphicon-icon-angle-down"></span></a><span
									class="menu-open" style="display:none">Menu</span>
								<span class="menu-close" style="display:none">Close</span><span class="menu-back "
									style="display:none">Back</span>
								<div class="dl-container">
									<ul class="dl-menu" style="min-height:500px">
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-12378 menu-item-137388 first">
											<a href="https://www.dobestmoto.com/?page_id=12378"><span>Login</span></a>
										</li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-12377 menu-item-137390">
											<a
												href="https://www.dobestmoto.com/?page_id=12377"><span>Register</span></a>
										</li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-59027 menu-item-137387">
											<a href="https://www.dobestmoto.com/?page_id=59027"><span>Cart</span></a>
										</li>
										<li
											class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-59029 menu-item-137389">
											<a href="https://www.dobestmoto.com/?page_id=59029"><span>My
													Order</span></a></li>
									</ul>
								</div>
							</div>
							<style>
								#list_menu_vertical_hoo82-c-8u #mobile-menu {
									background: #ffffff;
									border: 1px solid #eeeeee;
									color: #666666;
								}

								#list_menu_vertical_hoo82-c-8u #mobile-menu:hover {
									background: #ffffff;
									border: 1px solid #eeeeee;
									color: #000000;
								}

								#list_menu_vertical_hoo82-c-8u .dl-menuwrapper li {
									background: #ffffff;
									border-bottom: 1px solid #f0f0f0;
									color: #666666;
								}

								#list_menu_vertical_hoo82-c-8u .dl-menuwrapper li:first-child {
									border-top: 1px solid #f0f0f0;
								}

								#list_menu_vertical_hoo82-c-8u .dl-menuwrapper li:hover {
									background: #ffffff;
									border-bottom: 1px solid #f0f0f0;
									color: #000000;
								}

								#list_menu_vertical_hoo82-c-8u .dropCenterStyle_containter.dl-menuwrapper li>a {
									color: #666666 !important;
									text-align: center;
									padding: 10px 2px
								}

								#list_menu_vertical_hoo82-c-8u .dropCenterStyle_containter.dl-menuwrapper #mobile-menu {
									text-align: center;
									padding:
								}

								#list_menu_vertical_hoo82-c-8u .dropCenterStyle_containter.dl-menuwrapper li a span {
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
									max-width: 100%;
									font-size: 13px;
									font-weight: normal;
									font-style: normal;
									font-family: Roboto;
									;
									color: #666666 !important;
								}

								#list_menu_vertical_hoo82-c-8u #mobile-menu span {}

								#list_menu_vertical_hoo82-c-8u .dropCenterStyle_containter.dl-menuwrapper li>a:hover span {
									color: #000000 !important;
								}

								#list_menu_vertical_hoo82-c-8u .dl-menuwrapper li.has-children>a::after {
									background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23666666%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
								}

								#list_menu_vertical_hoo82-c-8u .dl-menuwrapper li.has-children:hover>a::after {
									background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23000000%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
								}

								@media only screen and (min-width: 768px) {
									body #list_menu_vertical_hoo82-c-8u #mobile-menu span {
										font-size: 13px !important;
										font-weight: normal !important;
										font-style: normal !important;
										font-family: Roboto !important;
									}

									body #list_menu_vertical_hoo82-c-8u #dl-menu .dl-menuopen {
										position: relative;
									}
								}

								#list_menu_vertical_hoo82-c-8u .list-content-inner ul.menu li a {
									color: #c9c9c9 !important;
									text-decoration: none !important;
								}

								#list_menu_vertical_hoo82-c-8u .list-content-inner ul.menu li.current-menu-item>a>span,
								#list_menu_vertical_hoo82-c-8u .list-content-inner ul.menu li a:hover>span,
								#list_menu_vertical_hoo82-c-8u .list-content-inner ul.menu li.current-menu-ancestor>a>span {
									color: #ffffff !important;
									text-decoration: none !important;
								}

								#list_menu_vertical_hoo82-c-8u .list-content-inner ul.sub-menu li>a>span {
									font-size: 13px !important;
									font-weight: normal !important;
									font-style: normal !important;
									font-family: Roboto !important;
								}

								#list_menu_vertical_hoo82-c-8u .list-content-inner ul.menu li {
									padding-top: 0px;
									overflow: hidden;
								}
							</style>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-10-65691195b08fd676404>.column_inner {
						padding-left: 30px;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-10-65691195b08fd676404 {
						width: 13.4%;
					}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-10-65691195b08fd676404>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-10-65691195b08fd676404 {
						width: 13.4%;
					}

					.qfy-column-10-65691195b08fd676404>.column_inner>.background-overlay,
					.qfy-column-10-65691195b08fd676404>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-11-65691195b358a116643 qfy-column-inner  vc_span_class  vc_span2_4  text-Default small-screen-undefined notfullrow"
				data-dw="1/5" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_img_65691195b3929833"
							style="margin: 0px; clear: both; position: relative; padding: 0px 0px 5px 4px; background-position: 0px 0px; background-repeat: no-repeat;"
							m-padding="0px 0px 5px 0px" p-padding="0 0 5px 4px" css_animation_delay="0"
							qfyuuid="qfy_single_image_lkgtv" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element bitImageControlDiv ">
							<style>
								@media only screen and (max-width: 768px) {
									.single_image_text-65691195b394b572 .head {
										font-size: 16px !important;
									}

									.single_image_text-65691195b394b572 .content {
										font-size: 16px !important;
									}
								}
							</style><a class="bitImageAhover  ">
								<div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_left">
									<div class="qfe_wrapper"><span></span><img
											class="front_image vc_box_rounded  ag_image"
											src="https://www.dobestmoto.com/qfy-content/uploads/2023/06/dd05fb7e0a67a81aa5d1005ad78c0a1c-110x110.jpg"
											alt="snapshot" description="" data-attach-id="137655" data-title="snapshot"
											title="" src-img="" style="border-radius: 4px;"></div>
								</div>
							</a>
						</div><a class="bitImageAhover  "> </a>


						<div m-padding="5px 0px 0px 0px" p-padding="5px 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_inoc2" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-78575 qfe_text_column qfe_content_element  "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
							<div class="qfe_wrapper">
								<div><span style="color: rgb(255, 255, 255); font-size: 16px;">Mobile Browsing</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-11-65691195b358a116643>.column_inner {
						padding-left: 55px;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-11-65691195b358a116643 {
						width: 20%;
					}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-11-65691195b358a116643>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-11-65691195b358a116643 {
						width: 20%;
					}

					.qfy-column-11-65691195b358a116643>.column_inner>.background-overlay,
					.qfy-column-11-65691195b358a116643>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>
			<div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>
		</div>
	</div>

</section>