<section data-fixheight=""
	class="qfy-row-2-656b2275296b0403972 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"
	id="bit_nqivm" style="margin-bottom:0;border-radius:0px;color:#3e3e3e;">
	<style class="row_class qfy_style_class">
		@media only screen and (min-width: 992px) {
			section.section.qfy-row-2-656b2275296b0403972 {
				padding-left: 0;
				padding-right: 0;
				padding-top: 20px;
				padding-bottom: 0;
				margin-top: 0;
				margin-bottom: 0;
				min-height: 200px;
			}
		}

		@media only screen and (max-width: 992px) {
			.bit-html section.section.qfy-row-2-656b2275296b0403972 {
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 40px;
				padding-bottom: 40px;
				margin-top: 0;
				margin-bottom: !important;
				min-height: 0;
			}
		}
	</style>
	<div data-time="3" data-imagebgs="" class="background-media   " backgroundsize="true"
		style="background-image: url('https://www.dobestmoto.com/qfy-content/uploads/2022/12/4860a528a4d1ff68f84dd652091cdf6d.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:center center;">
	</div>



	<div class="section-background-overlay background-overlay grid-overlay-0 "
		style="background-color: rgba(0,0,0,0.7);"></div>
	<div class="container">
		<div class="row qfe_row  ">

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-3-656b2275299b6938154 qfy-column-inner  vc_span12  text-center small-screen-undefined column_middle fullrow"
				data-dw="1/1" data-fixheight="" style="margin-top: 42.5px; margin-bottom: 0px;">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_656b227529a6d642" m-padding="3px 0 6px 0" p-padding="20px 0 10px 0"
							css_animation_delay="0" qfyuuid="qfy_header_ixa39-c-3o" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element "
							style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;">
							<style>
								@media only screen and (max-width: 768px) {
									#vc_header_656b227529a6d642 .header_title {
										font-size: 28px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_656b227529a6d642 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<h2 class="qfy_title center mobilecenter">
									<div class="qfy_title_inner"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="header_title"
											style="font-family:arial;font-size:40px;font-weight:bold;font-style:normal;color:#ffffff;"
											data-title_from="">Contact</div>
									</div>
									<style></style>
									<div class="button_wrapper" style="display:none;">
										<div class="button "
											style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
											+ View more</div>
									</div><span style="clear:both;"></span>
								</h2>
							</div>
						</div>

						<div class="qfy-element qfy_breadhtml " m-padding="0 0 0 0" p-padding="0 0 0 0"
							css_animation_delay="0" qfyuuid="qfy_column_breadcrumbs_kglxu-c-3o"
							style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
							<nav style="font-size:16px;"><span class="breadcrumb-text"
									style="color:#a63c27;font-size:16px;font-family:;margin-right:0px;"><a
										style="color:#ffffff;font-size:16px;" class="home"
										href="//www.dobestmoto.com/?term_id=35323&amp;product_cat=undefined">Home</a></span><span
									class="breadcrumb-text"
									style="color:#a63c27;font-size:16px;font-family:;margin-right:0px;">
									&nbsp;&nbsp;&gt;&nbsp; </span><span class="breadcrumb-text"
									style="color:#a63c27;font-size:16px;font-family:;margin-right:0px;">Contact</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-3-656b2275299b6938154>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-3-656b2275299b6938154 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-3-656b2275299b6938154>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-3-656b2275299b6938154 {}

					.qfy-column-3-656b2275299b6938154>.column_inner>.background-overlay,
					.qfy-column-3-656b2275299b6938154>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>
		</div>
	</div>

</section>