<section data-fixheight=""
	class="qfy-row-3-656b22752a334603496 section   contentsPadding0  no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"
	id="bit_f5wgw" style="margin-bottom:0;border-radius:0px;color:#777777;">
	<style class="row_class qfy_style_class">
		@media only screen and (min-width: 992px) {
			section.section.qfy-row-3-656b22752a334603496 {
				padding-left: 0;
				padding-right: 0;
				padding-top: 120px;
				padding-bottom: 120px;
				margin-top: 0;
				margin-bottom: 0;
			}

			section.section.qfy-row-3-656b22752a334603496>.container {
				max-width: 1280px;
				margin: 0 auto;
			}
		}

		@media only screen and (max-width: 992px) {
			.bit-html section.section.qfy-row-3-656b22752a334603496 {
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 25px;
				padding-bottom: 20px;
				margin-top: 0;
				margin-bottom: !important;
				min-height: 0;
			}
		}
	</style>


	<div class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: transparent;">
	</div>
	<div class="container">
		<div class="row qfe_row  ">

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-4-656b22752a3c8341966 qfy-column-inner  vc_span_class  vc_span4  text-center small-screen-undefined notfullrow"
				data-dw="1/3" data-fixheight="">
				<div style="min-height:274px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:40px;border-radius:0px;border-top:1px solid rgba(229,229,229,1);border-bottom:1px solid rgba(229,229,229,1);border-left:1px solid rgba(229,229,229,1);border-right:1px solid rgba(229,229,229,1);;position:relative;"
					class="column_inner mouseHover">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_img_656b22752a9fa262"
							style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_single_image_rtwhv" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element bitImageControlDiv ">
							<style>
								@media only screen and (max-width: 768px) {
									.single_image_text-656b22752aa10351 .head {
										font-size: 16px !important;
									}

									.single_image_text-656b22752aa10351 .content {
										font-size: 16px !important;
									}
								}
							</style><a class="bitImageAhover  ">
								<div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
									<div class="qfe_wrapper"><span></span><img class="front_image   ag_image"
											src="https://www.dobestmoto.com/qfy-content/uploads/2022/12/5e10b8642a17a79989b20ed3457c8a85-66x66.png"
											alt="03" description="" data-attach-id="130079" data-title="03" title=""
											src-img="" style=""></div>
								</div>
							</a>
						</div><a class="bitImageAhover  "> </a>


						<div m-padding="14px 0 6px 0" p-padding="20px 0 10px 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_5spge-c-zf" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-1549 qfe_text_column qfe_content_element  mobile_fontsize16 "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;border-radius:0px;">
							<div class="qfe_wrapper">
								<div style="letter-spacing: 1px;"><span
										style="font-size: 18px; color: rgb(0, 0, 0);"><strong>Mail</strong></span></div>
							</div>
						</div>


						<div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_g25q4-c-zf" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-92175 qfe_text_column qfe_content_element  mobile_fontsize "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
							<div class="qfe_wrapper">
								<div style="line-height: 24px;"><span
										style="font-size: 15px;">lp2_parts@dobestmoto.com</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-4-656b22752a3c8341966>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 50px;
						padding-bottom: 50px;
					}

					.qfe_row .vc_span_class.qfy-column-4-656b22752a3c8341966 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-4-656b22752a3c8341966>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 30px;
						padding-bottom: 30px;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-4-656b22752a3c8341966 {}

					.qfy-column-4-656b22752a3c8341966>.column_inner>.background-overlay,
					.qfy-column-4-656b22752a3c8341966>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-5-656b22752abdd813439 qfy-column-inner  vc_span_class  vc_span4  text-center small-screen-undefined notfullrow"
				data-dw="1/3" data-fixheight="">
				<div style="min-height:274px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:40px;border-radius:0px;border-top:1px solid rgba(229,229,229,1);border-bottom:1px solid rgba(229,229,229,1);border-left:1px solid rgba(229,229,229,1);border-right:1px solid rgba(229,229,229,1);;position:relative;"
					class="column_inner mouseHover">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_img_656b22752ba38861"
							style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_single_image_rtwhv-c-ns" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element bitImageControlDiv ">
							<style>
								@media only screen and (max-width: 768px) {
									.single_image_text-656b22752ba50910 .head {
										font-size: 16px !important;
									}

									.single_image_text-656b22752ba50910 .content {
										font-size: 16px !important;
									}
								}
							</style><a class="bitImageAhover  ">
								<div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
									<div class="qfe_wrapper"><span></span><img class="front_image   ag_image"
											src="https://www.dobestmoto.com/qfy-content/uploads/2022/12/64f66883226bd9c6fa73af2f8988b72f-66x66.png"
											alt="01" description="" data-attach-id="130093" data-title="01" title=""
											src-img="" style=""></div>
								</div>
							</a>
						</div><a class="bitImageAhover  "> </a>


						<div m-padding="14px 0 6px 0" p-padding="20px 0 10px 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_5spge-c-zf" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-34704 qfe_text_column qfe_content_element  mobile_fontsize16 "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;border-radius:0px;">
							<div class="qfe_wrapper">
								<div style="letter-spacing: 1px;"><span
										style="font-size: 18px; color: rgb(0, 0, 0);"><strong>address</strong></span>
								</div>
							</div>
						</div>


						<div m-padding="0px 0px 0px 0px" p-padding="0 13px 0 27px" css_animation_delay="0"
							qfyuuid="qfy_column_text_g25q4-c-zf" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-26593 qfe_text_column qfe_content_element  mobile_fontsize "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:13px;padding-left:27px;border-radius:0px;">
							<div class="qfe_wrapper">
								<div style="line-height: 24px;"><span style="font-size: 14px;">MAYLERESCAPE LIMITED
										UNIT# 2052 275 NEW NORTH ROAD LONDON UNITED KINGDOM N1 7AA</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-5-656b22752abdd813439>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 50px;
						padding-bottom: 50px;
					}

					.qfe_row .vc_span_class.qfy-column-5-656b22752abdd813439 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-5-656b22752abdd813439>.column_inner {
						margin: 10px auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 30px;
						padding-bottom: 30px;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-5-656b22752abdd813439 {}

					.qfy-column-5-656b22752abdd813439>.column_inner>.background-overlay,
					.qfy-column-5-656b22752abdd813439>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-6-656b22752bc01506090 qfy-column-inner  vc_span_class  vc_span4  text-center small-screen-undefined notfullrow"
				data-dw="1/3" data-fixheight="">
				<div style="min-height:274px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:40px;border-radius:0px;border-top:1px solid rgba(229,229,229,1);border-bottom:1px solid rgba(229,229,229,1);border-left:1px solid rgba(229,229,229,1);border-right:1px solid rgba(229,229,229,1);;position:relative;"
					class="column_inner mouseHover">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_img_656b22752c0d895"
							style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_single_image_rtwhv-c-wm" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element bitImageControlDiv ">
							<style>
								@media only screen and (max-width: 768px) {
									.single_image_text-656b22752c0eb956 .head {
										font-size: 16px !important;
									}

									.single_image_text-656b22752c0eb956 .content {
										font-size: 16px !important;
									}
								}
							</style><a class="bitImageAhover  ">
								<div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
									<div class="qfe_wrapper"><span></span><img class="front_image   ag_image"
											src="https://www.dobestmoto.com/qfy-content/uploads/2022/12/645193f16b347ba5574858598e7d6704-66x66.png"
											alt="02" description="" data-attach-id="130078" data-title="02" title=""
											src-img="" style=""></div>
								</div>
							</a>
						</div><a class="bitImageAhover  "> </a>


						<div m-padding="14px 0 6px 0" p-padding="20px 0 10px 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_5spge-c-2i" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-8509 qfe_text_column qfe_content_element  mobile_fontsize16 "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;border-radius:0px;">
							<div class="qfe_wrapper">
								<div style="letter-spacing: 1px;"><span
										style="font-size: 18px; color: rgb(0, 0, 0);"><strong>Mailbox</strong></span>
								</div>
							</div>
						</div>


						<div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_g25q4-c-d3" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-49881 qfe_text_column qfe_content_element  mobile_fontsize "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
							<div class="qfe_wrapper">
								<div style="line-height: 24px;"><span
										style="font-size: 15px;">lp2_parts@dobestmoto.com</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-6-656b22752bc01506090>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 50px;
						padding-bottom: 50px;
					}

					.qfe_row .vc_span_class.qfy-column-6-656b22752bc01506090 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-6-656b22752bc01506090>.column_inner {
						margin: 10px auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 30px;
						padding-bottom: 30px;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-6-656b22752bc01506090 {}

					.qfy-column-6-656b22752bc01506090>.column_inner>.background-overlay,
					.qfy-column-6-656b22752bc01506090>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>
			<div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>
		</div>
	</div>

</section>