<section data-fixheight=""
	class="qfy-row-3-656b263639651479954 section   contentsPadding40  no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi mobileHidden"
	id="bit_vg3v7" style="margin-bottom:0;border-radius:0px;color:#303030;">
	<style class="row_class qfy_style_class">
		@media only screen and (min-width: 992px) {
			section.section.qfy-row-3-656b263639651479954 {
				padding-left: 0;
				padding-right: 0;
				padding-top: 100px;
				padding-bottom: 80px;
				margin-top: 0;
				margin-bottom: 0;
			}

			section.section.qfy-row-3-656b263639651479954>.container {
				max-width: 1200px;
				margin: 0 auto;
			}
		}

		@media only screen and (max-width: 992px) {
			.bit-html section.section.qfy-row-3-656b263639651479954 {
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 20px;
				padding-bottom: 20px;
				margin-top: 0;
				margin-bottom: !important;
				min-height: 0;
			}
		}
	</style>


	<div class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: transparent;">
	</div>
	<div class="container">
		<div class="row qfe_row  ">

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-4-656b2636396b1671074 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-center notfullrow"
				data-dw="1/3" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_656b263639761596" m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
							css_animation_delay="0" qfyuuid="qfy_header_9zi9l" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element  qfe_animate_when_almost_visible qfe_bottom-to-top qsa"
							style="position: relative; background-repeat: no-repeat; margin-top: 0px; margin-bottom: 0px; padding: 0px; animation-duration: 0.7s; animation-iteration-count: 1;">
							<style>
								#vc_header_656b263639761596 .qfy_title_inner,
								#vc_header_656b263639761596 .qfy_title_image_inner {
									vertical-align: middle !important;
								}

								@media only screen and (max-width: 768px) {
									#vc_header_656b263639761596 .header_title {
										font-size: 16px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_656b263639761596 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<div class="qfy_title left mobileleft">
									<div class="qfy_title_image_warpper"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="qfy_title_image_inner"
											style="display:inline-block;position:relative;max-width:100%;">
											<div class="header_image " style="padding:2px;"><img class=" ag_image"
													src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/e14879c237b75ae45590350bfe7897b0-46x43.png"
													alt="icon-1" description="" data-attach-id="55325"
													data-title="icon-1" title="" src-img=""></div>
										</div>
										<div class="qfy_title_inner"
											style="display:inline-block;position:relative;max-width:100%;">
											<div class="header_title"
												style="font-family:Roboto;font-size:19px;font-weight:bold;font-style:normal;color:#1b1b1c;padding:0 0 12px 30px;display:block;padding:0 0 12px 30px;vertical-align:bottom;">
												whole series products</div>
											<div class="header_subtitle"
												style="font-family:Roboto;font-size:15px;font-weight:normal;font-style:normal;color:#3e3e3e;display:block;padding:0 0 0 30px;vertical-align:bottom;">
												We have factory on our own, can strictly control the quality and price
												of products, so that you can buy the best cost-effective parts!</div>
										</div>
										<style></style>
										<div class="button_wrapper" style="display:none;">
											<div class="button "
												style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
												+ View more</div>
										</div><span style="clear:both;"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-4-656b2636396b1671074>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-4-656b2636396b1671074 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-4-656b2636396b1671074>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 30px;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-4-656b2636396b1671074 {}

					.qfy-column-4-656b2636396b1671074>.column_inner>.background-overlay,
					.qfy-column-4-656b2636396b1671074>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-5-656b2636399c0584556 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-Default notfullrow"
				data-dw="1/3" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_656b263639a4c672" m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
							css_animation_delay="0.1" qfyuuid="qfy_header_9zi9l-c-uy" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element  qfe_animate_when_almost_visible qfe_bottom-to-top delay0.1 qsa"
							style="position: relative; background-repeat: no-repeat; margin-top: 0px; margin-bottom: 0px; padding: 0px; animation-duration: 0.7s; animation-iteration-count: 1;">
							<style>
								#vc_header_656b263639a4c672 .qfy_title_inner,
								#vc_header_656b263639a4c672 .qfy_title_image_inner {
									vertical-align: middle !important;
								}

								@media only screen and (max-width: 768px) {
									#vc_header_656b263639a4c672 .header_title {
										font-size: 16px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_656b263639a4c672 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<div class="qfy_title left mobileleft">
									<div class="qfy_title_image_warpper"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="qfy_title_image_inner"
											style="display:inline-block;position:relative;max-width:100%;">
											<div class="header_image " style="padding:2px;"><img class=" ag_image"
													src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/658ef9c2a623259d2e12c16458deb648-46x43.png"
													alt="icon-2" description="" data-attach-id="55326"
													data-title="icon-2" title="" src-img=""></div>
										</div>
										<div class="qfy_title_inner"
											style="display:inline-block;position:relative;max-width:100%;">
											<div class="header_title"
												style="font-family:Roboto;font-size:19px;font-weight:bold;font-style:normal;color:#1b1b1c;padding:0 0 12px 30px;display:block;padding:0 0 12px 30px;vertical-align:bottom;">
												Authentic licensed guarantee</div>
											<div class="header_subtitle"
												style="font-family:Roboto;font-size:15px;font-weight:normal;font-style:normal;color:#3e3e3e;display:block;padding:0 0 0 30px;vertical-align:bottom;">
												We insist on using the best raw materials for production, so that the
												products are more durable and more environmentally friendly!</div>
										</div>
										<style></style>
										<div class="button_wrapper" style="display:none;">
											<div class="button "
												style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
												+ View more</div>
										</div><span style="clear:both;"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-5-656b2636399c0584556>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-5-656b2636399c0584556 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-5-656b2636399c0584556>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 30px;
						padding-right: 0;
						padding-top: 15px;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-5-656b2636399c0584556 {}

					.qfy-column-5-656b2636399c0584556>.column_inner>.background-overlay,
					.qfy-column-5-656b2636399c0584556>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-6-656b263639c86782587 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-Default notfullrow"
				data-dw="1/3" data-fixheight="">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_656b263639d16350" m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
							css_animation_delay="0.2" qfyuuid="qfy_header_9zi9l-c-qr" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element  qfe_animate_when_almost_visible qfe_bottom-to-top delay0.2 qsa"
							style="position: relative; background-repeat: no-repeat; margin-top: 0px; margin-bottom: 0px; padding: 0px; animation-duration: 0.7s; animation-iteration-count: 1;">
							<style>
								#vc_header_656b263639d16350 .qfy_title_inner,
								#vc_header_656b263639d16350 .qfy_title_image_inner {
									vertical-align: middle !important;
								}

								@media only screen and (max-width: 768px) {
									#vc_header_656b263639d16350 .header_title {
										font-size: 16px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_656b263639d16350 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<div class="qfy_title left mobileleft">
									<div class="qfy_title_image_warpper"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="qfy_title_image_inner"
											style="display:inline-block;position:relative;max-width:100%;">
											<div class="header_image " style="padding:2px;"><img class=" ag_image"
													src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/79b6d10526df6c55255724b7caddbf63-46x43.png"
													alt="icon-3" description="" data-attach-id="55327"
													data-title="icon-3" title="" src-img=""></div>
										</div>
										<div class="qfy_title_inner"
											style="display:inline-block;position:relative;max-width:100%;">
											<div class="header_title"
												style="font-family:Roboto;font-size:20px;font-weight:bold;font-style:normal;color:#1b1b1c;padding:0 0 12px 30px;display:block;padding:0 0 12px 30px;vertical-align:bottom;">
												Free service support</div>
											<div class="header_subtitle"
												style="font-family:Roboto;font-size:15px;font-weight:normal;font-style:normal;color:#3e3e3e;display:block;padding:0 0 0 30px;vertical-align:bottom;">
												Our products fully conform to OEM standards and can be perfectly adapted
												to your model.</div>
										</div>
										<style></style>
										<div class="button_wrapper" style="display:none;">
											<div class="button "
												style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
												+ View more</div>
										</div><span style="clear:both;"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-6-656b263639c86782587>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-6-656b263639c86782587 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-6-656b263639c86782587>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 30px;
						padding-right: 0;
						padding-top: 15px;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-6-656b263639c86782587 {}

					.qfy-column-6-656b263639c86782587>.column_inner>.background-overlay,
					.qfy-column-6-656b263639c86782587>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>
			<div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>
		</div>
	</div>

</section>