<section data-fixheight=""
	class="qfy-row-8-65692f43e3522311546 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"
	id="bit_g45q8" style="margin-bottom:0;border-radius:0px;color:#3e3e3e;z-index:1;">
	<style class="row_class qfy_style_class">
		
	</style>
	<div data-time="3" data-imagebgs="" class="background-media   " backgroundsize="true"
		style="background-image: url('https://www.dobestmoto.com/qfy-content/uploads/2019/07/d7ed0832595725017413e9ff6916b159.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:center center;">
	</div>



	<div class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: transparent;">
	</div>
	<div class="container">
		<div class="row qfe_row  ">

			<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
				class=" qfy-column-20-65692f43e37a6707754 qfy-column-inner  vc_span12  text-center small-screen-undefined column_middle fullrow"
				data-dw="1/1" data-fixheight="" style="margin-top: 100px; margin-bottom: 0px;">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_65692f43e382d860" m-padding="20px 0px 15px 0px" p-padding="20px 0 15px 0"
							css_animation_delay="0" qfyuuid="qfy_header_2hmz6" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element "
							style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:15px;padding-right:0;padding-left:0;">
							<style>
								@media only screen and (max-width: 768px) {
									#vc_header_65692f43e382d860 .header_title {
										font-size: 22px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65692f43e382d860 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<h2 class="qfy_title center mobilecenter">
									<div class="qfy_title_inner"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="header_title"
											style="font-family:Roboto;font-size:40px;font-weight:bold;font-style:normal;color:#000;"
											data-title_from="1">Professional Motorcycle Parts &amp; Accessories</div>
									</div>
									<style></style>
									<div class="button_wrapper" style="display:none;">
										<div class="button "
											style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
											+ 查看更多</div>
									</div><span style="clear:both;"></span>
								</h2>
							</div>
						</div>


						<div m-padding="0px 0px 40px 0px" p-padding="0 0 40px 0" css_animation_delay="0"
							qfyuuid="qfy_column_text_ovb4c" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element qfy-text qfy-text-59424 qfe_text_column qfe_content_element  mobile_fontsize15 "
							style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:40px;padding-right:0;padding-left:0;border-radius:0px;display:inline-block;max-width:1200px;">
							<div class="qfe_wrapper">
								<div style="text-align: center; line-height: 28px;"><span
										style="color: rgb(102, 102, 102);"><span data-group="0-0" data-section="0"
											data-sentence="0"><span data-group="0-0" style="font-size: 18px;"><span
													data-group="0-0"><span data-group="0-0">Our main business motorcycle
														accessories wholesale and retail, with 20 years of experience in
														the development of original replacement parts, products covering
														ATV, UTV, motorboat, snowmobile and other
														models.&nbsp;</span></span><br></span></span></span></div>
							</div>
						</div>

						<div id="qfy-btn-65692f43e39b34755"
							style="margin-top: 0px; margin-bottom: 0px; padding: 0px; animation-duration: 0.7s; animation-iteration-count: 1;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0"
							qfyuuid="qfy_btn_23kz6-c-ht" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element vc_btn3-container  qfe_animate_when_almost_visible qfe_bottom-to-top vc_btn3-center qsa">
							<a onmouseleave="this.style.borderColor='#a83c27'; this.style.backgroundColor='#a83c27'; this.style.color='#ffffff';"
								onmouseenter="this.style.backgroundColor='#ffffff'; this.style.borderColor='#ffffff'; this.style.color='#a83c27';"
								style="font-family:arial; font-size:20px; font-weight:bold; letter-spacing:1px;text-indent: 1px; padding-left:42px;padding-right:42px; padding-top:11px;padding-bottom:11px; border-width:2px; border-color:#a83c27; background-color:#a83c27; color:#ffffff;"
								class="vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-round vc_btn3-style-qfy-custom"
								href="//www.dobestmoto.com/?page_id=56308" target="">CONTACT NOW</a>
						</div>

					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-20-65692f43e37a6707754>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 120px;
					}

					.qfe_row .vc_span_class.qfy-column-20-65692f43e37a6707754 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-20-65692f43e37a6707754>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-20-65692f43e37a6707754 {}

					.qfy-column-20-65692f43e37a6707754>.column_inner>.background-overlay,
					.qfy-column-20-65692f43e37a6707754>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>
		</div>
	</div>

</section>