<section data-fixheight=""
	class="qfy-row-11-65693d8b20c8c489076 section   contentsPadding0  no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"
	id="bit_6251p" style="margin-bottom:0;border-radius:0px;color:#3e3e3e;z-index:1">
	<style class="row_class qfy_style_class">
		
	</style>
	<div data-time="3" data-imagebgs="" class="background-media   " backgroundsize="true"
		style="background-image: url('https://www.dobestmoto.com/qfy-content/uploads/2019/07/8dee0d6f7d7e3d3d182e0c04857fa8f4.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:center center;">
	</div>



	<div class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: transparent;">
	</div>
	<div class="container" style="padding: 2cm;">
		<div class="row qfe_row  ">

			<div   data-duration="1" data-delay=""
				class=" qfy-column-23-65693d8b20f28577058 qfy-column-inner  vc_span_class  vc_span6  text-Default small-screen-undefined column_middle notfullrow"
				data-dw="1/2" data-fixheight="" style="margin-top: 0px; margin-bottom: 0px;">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_img_65693d8b21163468"
							style="padding:0px;margin:0px;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-position:0 0;background-repeat: no-repeat;"
							m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" 
							qfyuuid="qfy_single_image_g1y1u" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element bitImageControlDiv ">
							<style>
								@media only screen and (max-width: 768px) {
									.single_image_text-65693d8b2117c104 .head {
										font-size: 16px !important;
									}

									.single_image_text-65693d8b2117c104 .content {
										font-size: 16px !important;
									}
								}
							</style><a class="bitImageAhover  ">
								<div class="bitImageParentDiv qfe_single_image qfe_content_element qfe_animate_when_almost_visible qfe_bottom-to-top vc_align_center qsa"
									style="animation-duration: 0.7s; animation-iteration-count: 1;">
									<div class="qfe_wrapper"><span></span><img width="381" height="314"
											src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/6583dbb945e9b481bc71c2a0aee0cd2c.png"
											class="front_image  attachment-full" alt="wheels" title="" description=""
											data-title="wheels" src-img="" style=""></div>
								</div>
							</a>
						</div><a class="bitImageAhover  "> </a>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-23-65693d8b20f28577058>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-23-65693d8b20f28577058 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-23-65693d8b20f28577058>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-23-65693d8b20f28577058 {}

					.qfy-column-23-65693d8b20f28577058>.column_inner>.background-overlay,
					.qfy-column-23-65693d8b20f28577058>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>

			<div   data-duration="1.5" data-delay=""
				class=" qfy-column-24-65693d8b211e2218273 qfy-column-inner  vc_span_class  vc_span6  text-Default small-screen-Default column_middle notfullrow d"
				data-dw="1/2" data-fixheight=""
				style="margin-top: 0px; margin-bottom: 0px; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: qfyfadeInUp; visibility: visible;">
				<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
					class="column_inner ">
					<div class=" background-overlay grid-overlay-0" style="background-color: transparent;width:100%;">
					</div>
					<div class="column_containter" style="z-index:3;position:relative;">

						<div id="vc_header_65693d8b2126b977" m-padding="20px 0 11px 0" p-padding="0 0 20px 0"
							 qfyuuid="qfy_header_osoed-c-66" data-anitime="0.7"
							data-ani_iteration_count="1"
							class="qfy-element minheigh1px qfe_text_column qfe_content_element "
							style="position: relative; background-repeat: no-repeat; margin-top: 0px; margin-bottom: 0px; padding: 20px 0px 11px;">
							<style>
								@media only screen and (max-width: 768px) {
									#vc_header_65693d8b2126b977 .header_title {
										font-size: 19px !important;
									}
								}

								@media only screen and (max-width: 768px) {
									#vc_header_65693d8b2126b977 .header_subtitle {
										font-size: 12px !important;
									}
								}
							</style>
							<div class="qfe_wrapper">
								<h2 class="qfy_title center mobilecenter">
									<div class="qfy_title_image_warpper"
										style="display:inline-block;position:relative;max-width:100%;">
										<div class="qfy_title_inner"
											style="display:inline-block;position:relative;max-width:100%;">
											<div class="header_title"
												style="font-size:36px;font-weight:bold;font-style:normal;color:#000;display:block;vertical-align:bottom;">
												LIMIT DISCOUNTS</div>
											<div class="header_subtitle"
												style="font-family:century gothic;font-size:22px;font-weight:bold;font-style:normal;color:#000;display:block;padding:2px;vertical-align:bottom;">
												HURRY UP AND GET 10% DISCOUNT</div>
										</div>
										<style></style>
										<div class="button_wrapper" style="display:none;">
											<div class="button "
												style="display:inline-block;max-width:100%;text-align:center; font-size:14px; color:#333; padding:5px;">
												+ View more</div>
										</div><span style="clear:both;"></span>
									</div>
								</h2>
							</div>
						</div>

						<div id="qfy-btn-65693d8b2136d5907"
							style="margin-top: 0px; margin-bottom: 0px; padding: 4px 0px 16px; animation-duration: 0.7s; animation-iteration-count: 1;text-align: center;"
							m-padding="4px 0 16px 0" p-padding="0 0 0 0" 
							qfyuuid="qfy_btn_23kz6-c-on" data-anitime="0.7" data-ani_iteration_count="1"
							class="qfy-element vc_btn3-container  qfe_animate_when_almost_visible qfe_bottom-to-top vc_btn3-center qsa">
							<a onmouseleave="this.style.borderColor='#a83c27'; this.style.backgroundColor='#a83c27'; this.style.color='#ffffff';"
								onmouseenter="this.style.backgroundColor='#ffffff'; this.style.borderColor='#ffffff'; this.style.color='#a83c27';"
								style="font-family: arial; font-size: 20px; font-weight: bold; letter-spacing: 1px; text-indent: 1px; padding: 11px 42px; border-width: 2px; border-color: rgb(168, 60, 39); background-color: rgb(168, 60, 39); color: rgb(255, 255, 255);"
								class="vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-round vc_btn3-style-qfy-custom"
								href="//www.dobestmoto.com/?page_id=12377" target="">REGISTER NOW</a>
						</div>


						<style>
							@media only screen and (max-width: 768px) {

								#ts-vcsc-countdown-7055670-container .style-0 .ce-days,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-dseconds,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-hours,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-minutes,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-mseconds,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-seconds,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-days,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-dseconds,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-hours,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-minutes,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-mseconds,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-seconds {
									font-size: 30px !important;
								}

								#ts-vcsc-countdown-7055670-container .style-0 .ce-days-label,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-dseconds-label,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-hours-label,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-minutes-label,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-mseconds-label,
								#ts-vcsc-countdown-7055670-container .style-0 .ce-seconds-label,
								.style-1 .ce-days-label,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-dseconds-label,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-hours-label,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-minutes-label,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-mseconds-label,
								#ts-vcsc-countdown-7055670-container .style-1 .ce-seconds-label {
									font-size: 12px !important;
								}
							}
						</style>
						<style>
							.ts-radius-small {
								border-radius: 5px;
								-webkit-border-radius: 5px;
								-o-border-radius: 5px;
								-moz-border-radius: 5px
							}

							.ts-radius-medium {
								border-radius: 15px;
								-webkit-border-radius: 15px;
								-o-border-radius: 15px;
								-moz-border-radius: 15px
							}

							.ts-radius-large {
								border-radius: 30px;
								-webkit-border-radius: 30px;
								-o-border-radius: 30px;
								-moz-border-radius: 30px
							}

							.ts-radius-full {
								border-radius: 50%;
								-webkit-border-radius: 50%;
								-o-border-radius: 50%;
								-moz-border-radius: 50%
							}
						</style>
						<div id="ts-vcsc-countdown-7055670-container" class="ts-vcsc-countdown-container ">
							<div id="ts-vcsc-countdown-7055670" data-reset="false" data-resetrestart="true"
								data-equalize="true" data-id="7055670" data-type="columns" data-zone="false"
								data-countup="true" data-repeat="false" data-pageload="false" data-zeros="true"
								data-show-days="true" data-show-hours="true" data-show-minutes="true"
								data-show-seconds="true" data-resethours="0" data-resetminutes="15"
								data-resetseconds="0" data-resetlink="" data-resettarget="" data-day="17"
								data-month="10" data-year="2019" data-hour="14" data-minute="09" data-second="00"
								m-padding="0 0 0 0" p-padding="30px 0 0 0" 
								qfyuuid="TS_VCSC_Countdown_muetd" class="qfy-element ts-countdown-parent style-1    "
								style="margin-top: 0px; margin-bottom: 0px; padding: 0px; background: transparent;">
								
							</div>
							<div class="hidecountdownlabel" style="display:none;" data-day="Day" data-hour="Hour"
								data-minute="Minute" data-second="Second"></div>
						</div>
					</div>
				</div>
			</div>
			<style class="column_class qfy_style_class">
				@media only screen and (min-width: 992px) {
					.qfy-column-24-65693d8b211e2218273>.column_inner {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.qfe_row .vc_span_class.qfy-column-24-65693d8b211e2218273 {}

					;
				}

				@media only screen and (max-width: 992px) {
					.qfy-column-24-65693d8b211e2218273>.column_inner {
						margin: 0 auto 0 !important;
						min-height: 0 !important;
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 0;
					}

					.display_entire .qfe_row .vc_span_class.qfy-column-24-65693d8b211e2218273 {}

					.qfy-column-24-65693d8b211e2218273>.column_inner>.background-overlay,
					.qfy-column-24-65693d8b211e2218273>.column_inner>.background-media {
						width: 100% !important;
						left: 0 !important;
						right: auto !important;
					}
				}
			</style>
			<div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>
		</div>
	</div>

</section>