<section data-fixheight="" class="qfy-row-13-65693d8b288f2462253 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi" id="bit_1igsf" style="margin-bottom:0;border-radius:0px;color:#303030;">
    <style class="row_class qfy_style_class">
       
            </style>
        

            <div class="section-background-overlay background-overlay grid-overlay-0 " style="background-color: transparent;"></div>
        <div class="container">
        <div class="row qfe_row  ">
            
<div data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-26-65693d8b28968785630 qfy-column-inner  vc_span12  text-default small-screen-undefined fullrow" data-dw="1/1" data-fixheight=""><div style=";position:relative;" class="column_inner "><div class=" background-overlay grid-overlay-" style="background-color: transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;">

<div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_images_list_6xw9p" data-anitime="0.7" data-ani_iteration_count="1" class="qfy-element qfy_images_list qfe_content_element vc_clearfix qfe_animate_when_almost_visible qfe_bottom-to-top qsa" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; animation-duration: 0.7s; animation-iteration-count: 1;">
    <style>
		@media screen and (max-width: 992px) {
	#vc_images_list-65693d8b28e46867 .qfe_images_list .gimg{width:33.333333%;text-align: center;}
	#vc_images_list-65693d8b28e46867 .mobileclear{clear:both;}
		#vc_images_list-65693d8b28e46867 .qfe_images_list{-webkit-column-count:3;-webkit-column-gap:10px; column-count:3;column-gap:10px; }
		}
			@media screen and (min-width: 992px) {
	#vc_images_list-65693d8b28e46867 .qfe_images_list .gimg{width:16.666667%;}
	#vc_images_list-65693d8b28e46867 .pcclear{clear:both;}
		#vc_images_list-65693d8b28e46867 .qfe_images_list{-webkit-column-count:6;-webkit-column-gap:10px;column-count:6;column-gap:10px; }
		}
			#vc_images_list-65693d8b28e46867 .qfe_images_list >.images{width:100% !important;padding-right:0 !important;float:none !important;display:block !important;}
			</style>
	<style>@media only screen and (max-width: 760px) {#vc_images_list-65693d8b28e46867 .Thumbnail_text .head{font-size: 16px !important;}#vc_images_list-65693d8b28e46867 .Thumbnail_text .content{font-size: 16px !important;}}</style>
	<div class="qfe_wrapper" id="vc_images_list-65693d8b28e46867">
        		        <div class="qfe_images_list" style="padding: 1cm;">
								
				<div class="images gimg" style="display:inline-block;float:left;margin-bottom:10px;padding-left:5px;padding-right:5px">
					<div class="vc-inner" style="position:relative;font-size:0;text-align:center;">
									<span class=""><span class="positionSpan"><img style="float:left;display:block;max-width:100%;" class="" src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/3c49d3f77149c1eb2017e5f9a3a23d50-130x130.png" alt="client2-1" description="" data-attach-id="55690" data-title="client2-1" title="" src-img=""></span></span>								</div></div>
												
				<div class="images gimg" style="display:inline-block;float:left;margin-bottom:10px;padding-left:5px;padding-right:5px">
					<div class="vc-inner" style="position:relative;font-size:0;text-align:center;">
									<span class=""><span class="positionSpan"><img style="float:left;display:block;max-width:100%;" class="" src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/1af53708d88abb026b16ac604ddc60ba-130x130.png" alt="client1-1" description="" data-attach-id="55689" data-title="client1-1" title="" src-img=""></span></span>								</div></div>
												
				<div class="images gimg" style="display:inline-block;float:left;margin-bottom:10px;padding-left:5px;padding-right:5px">
					<div class="vc-inner" style="position:relative;font-size:0;text-align:center;">
									<span class=""><span class="positionSpan"><img style="float:left;display:block;max-width:100%;" class="" src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/bc991e076cb207d3f7cfcb809563f5da-130x130.png" alt="client4-1" description="" data-attach-id="55692" data-title="client4-1" title="" src-img=""></span></span>								</div></div>
												
				<div class="images gimg" style="display:inline-block;float:left;margin-bottom:10px;padding-left:5px;padding-right:5px">
					<div class="vc-inner" style="position:relative;font-size:0;text-align:center;">
									<span class=""><span class="positionSpan"><img style="float:left;display:block;max-width:100%;" class="" src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/8fda84c7eab75664e7d78a7564a33595-130x130.png" alt="client3-1" description="" data-attach-id="55691" data-title="client3-1" title="" src-img=""></span></span>								</div></div>
												
				<div class="images gimg" style="display:inline-block;float:left;margin-bottom:10px;padding-left:5px;padding-right:5px">
					<div class="vc-inner" style="position:relative;font-size:0;text-align:center;">
									<span class=""><span class="positionSpan"><img style="float:left;display:block;max-width:100%;" class="" src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/a0fe43819da72734bfcf1e3d0cef8c6f-130x130.png" alt="client5-1" description="" data-attach-id="55693" data-title="client5-1" title="" src-img=""></span></span>								</div></div>
												
				<div class="images gimg" style="display:inline-block;float:left;margin-bottom:10px;padding-left:5px;padding-right:5px">
					<div class="vc-inner" style="position:relative;font-size:0;text-align:center;">
									<span class=""><span class="positionSpan"><img style="float:left;display:block;max-width:100%;" class="" src="https://www.dobestmoto.com/qfy-content/uploads/2019/07/752d738eb9e6180566bd6b48b96fedba-130x130.png" alt="client6" description="" data-attach-id="55694" data-title="client6" title="" src-img=""></span></span>								</div></div>
												<div class="clear"></div>
				
        </div>

        				<br>    </div></div>
</div></div></div><style class="column_class qfy_style_class">@media only screen and (min-width: 992px){.qfy-column-26-65693d8b28968785630 > .column_inner {padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}.qfe_row .vc_span_class.qfy-column-26-65693d8b28968785630 {};}@media only screen and (max-width: 992px){.qfy-column-26-65693d8b28968785630 > .column_inner{margin:0 auto 0 !important;padding-left:0;padding-right:0;padding-top:;padding-bottom:;}.display_entire .qfe_row .vc_span_class.qfy-column-26-65693d8b28968785630 {}.qfy-column-26-65693d8b28968785630 > .column_inner> .background-overlay,.qfy-column-26-65693d8b28968785630 > .column_inner> .background-media{width:100% !important;left:0 !important;right:auto !important;}}</style>
        </div>
    </div>

</section>